In [42]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

## Таблица диапазонов GT NN (BOOK_GT_RANGE)

In [29]:
xls = pd.ExcelFile('.\DATA\BOOK_GT_RANGE.xlsx') #Создать объект
BOOK_GT_RANGE = xls.parse('BOOK_GT_RANGE') #Генерация DataFrame из определенного листа
BOOK_GT_RANGE['CCNDC']=BOOK_GT_RANGE['CCNDC'].astype('object')
BOOK_GT_RANGE.head()

       COUNTRY          PLMN   TYPE   CCNDC    DEST    NP
0     Abkhazia   ABKHAZIA_67  TITLE   79409  STP_KF  e164
1     Abkhazia    GEORGIA_67  TITLE  995449  STP_KF  e164
2  Afghanistan  AFGHANIST_01  TITLE    9370      MW  e164
3  Afghanistan  AFGHANIST_20  TITLE    9379      MW  e164
4  Afghanistan  AFGHANIST_40  TITLE    9377    BICS  e164

In [30]:
BOOK_GT_RANGE.dtypes

COUNTRY    object
PLMN       object
TYPE       object
CCNDC      object
DEST       object
NP         object
dtype: object

In [32]:
BOOK_GT_RANGE[BOOK_GT_RANGE.COUNTRY=='Abkhazia']

    COUNTRY         PLMN   TYPE   CCNDC    DEST    NP
0  Abkhazia  ABKHAZIA_67  TITLE   79409  STP_KF  e164
1  Abkhazia   GEORGIA_67  TITLE  995449  STP_KF  e164

## Таблица TADIG из RoamDB

In [44]:
df = pd.read_csv('.\DATA\TADIG_ROAMDB.csv',dtype={'MCC': np.object,'MNC': np.object})
df.head()

,NetworkID,NetworkNake,CountryName,CountryCode,MCC,MNC,TadigCode
0,4,Afghan Wireless Communication Company,Afghanistan,93,412,01,AFGAW
1,4,Afghan Wireless Communication Company,Afghanistan,93,412,03,AFGAW
2,4,Afghan Wireless Communication Company,Afghanistan,93,412,20,AFGAW
3,4,Afghan Wireless Communication Company,Afghanistan,93,412,40,AFGAW
4,4,Afghan Wireless Communication Company,Afghanistan,93,412,50,AFGAW

In [45]:
df.dtypes

NetworkID       int64
NetworkNake    object
CountryName    object
CountryCode     int64
MCC            object
MNC            object
TadigCode      object
dtype: object

In [46]:
#Количество полей в колонках
df.count()

NetworkID      25823
NetworkNake    25823
CountryName    25823
CountryCode    25823
MCC            25823
MNC            25782
TadigCode      25823
dtype: int64

In [47]:
#Количество значений типа Nan
df.isnull().sum()

NetworkID       0
NetworkNake     0
CountryName     0
CountryCode     0
MCC             0
MNC            41
TadigCode       0
dtype: int64

In [48]:
#Просмотр значений типа Nan
df[df.MNC.isnull()==True].head()

,NetworkID,NetworkNake,CountryName,CountryCode,MCC,MNC,TadigCode
68,18,MoviCel,Angola,244,631,NaN,AGOMV
71,19,Unitel S A,Angola,244,631,NaN,AGOUT
15031,1030,Unknown Name,United States,1,310,NaN,USAW4
15215,1033,Unknown,United States,1,310,NaN,USABS
15399,1035,Arctic Slope Telephone Association Cooperative,United States,1,310,NaN,USAAS

In [49]:
#Удаляем дублированные значений
df.drop_duplicates(subset=['CountryCode','TadigCode','MCC','MNC'],inplace=True)

In [51]:
#Выявление повторяющихся значений
df1=df.groupby([df['CountryCode'],df['MCC'],df['MNC']])['TadigCode'].count()
df1[df1.values>1]

CountryCode  MCC  MNC
1            302  220    13
                  270    13
                  320    13
                  340    13
                  360    13
                  361    13
                  370    13
                  380    13
                  490    13
                  500    13
                  610    13
                  620    13
                  630    13
                  640    13
                  651    13
                  652    13
                  653    13
                  654    13
                  655    13
                  656    13
                  657    13
                  660    13
                  670    13
                  680    13
                  701    13
                  702    13
                  703    13
                  710    13
                  720    13
                  760    13
                         ..
998          434  02      4
                  04      4
                  05      4
                  07      4
1268         344  030     2
                  30      2
                  920     2
                  930     2
1441         350  000     3
                  01      3
                  02      3
                  10      3
                  99      3
1671         310  140     4
                  250     4
                  32      4
                  33      4
                  370     4
                  470     4
1809         370  01      3
                  02      3
                  03      3
                  04      3
1868         374  12      2
                  130     2
                  140     2
1876         338  050     2
                  110     2
                  180     2
                  20      2
Name: TadigCode, Length: 1479, dtype: int64

In [52]:
#Вывод конкретного значения
#df[df.TadigCode=='ARGTM']
df[(df.MCC=='302') & (df.MNC=='220')]
#df[(df.MCC=='450')]

,NetworkID,NetworkNake,CountryName,CountryCode,MCC,MNC,TadigCode
931,150,Bell Mobility Inc,Canada,1,302,220,CANBM
963,153,DMTS Mobility/Dryden Mobility,Canada,1,302,220,CANDM
995,156,FIDO (Rogers AT&T/ Microcell),Canada,1,302,220,CANMC
1027,164,Rogers Communications Canada Inc,Canada,1,302,220,CANRW
1059,165,SaskTel,Canada,1,302,220,CANST
1091,167,Telus Mobility,Canada,1,302,220,CANTS
1123,168,Videotron General Partnership,Canada,1,302,220,CANVT
1155,169,WIND Mobile Corp,Canada,1,302,220,CANGW
20504,1163,Bragg Communications Inc,Canada,1,302,220,CANEL
20536,1164,Execulink Telecom Inc,Canada,1,302,220,CANET
20568,1165,Ice Wireless Inc,Canada,1,302,220,CANIW
20600,1166,Wightman Telecom Ltd,Canada,1,302,220,CANWT
20632,1167,Keewaytinook Okimakanak,Canada,1,302,220,CANKO