In [3]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

## Fetch data from MS SQL DB

In [2]:
import pyodbc

### Подключение к удаленной базе данных

In [2]:
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER=192.168.155.200;DATABASE=10028;UID=sa1;PWD=')
cursor = cnxn.cursor()

### Подключение к локальной базе данных

In [4]:
cnxn = pyodbc.connect('Trusted_Connection=yes;DRIVER={SQL Server};SERVER=localhost\SQLEXPRESS;PORT=1433;DATABASE=TEST;UID=balobin.p;PWD=')
cursor = cnxn.cursor()

### SELECT

"If there are no rows, fetchone() will return None, whereas fetchall() and fetchmany() will both return empty lists."
(https://github.com/mkleehammer/pyodbc/wiki/Getting-started)

"It's also worthwhile considering using 'raw' strings for your SQL to avoid any inadvertent escaping (unless you really do want to specify control characters):
cursor.execute("delete from products where name like '%bad\name%'")   # Python will convert \n to 'new line'!
<br>
cursor.execute(r"delete from products where name like '%bad\name%'")  # no escaping"
<br>
(https://github.com/mkleehammer/pyodbc/wiki/Getting-started)

"Since single quotes are valid in SQL, use double quotes to surround your SQL:
<br>
deleted = cursor.execute("delete from products where id <> 'pyodbc'").rowcount"
<br>
(https://github.com/mkleehammer/pyodbc/wiki/Getting-started)

In [11]:
#Вариант №1
#Получение единичного значения
cursor.execute(r"select count(*) from test_table").fetchval()

6

In [12]:
#Вариант №2
#Получение единичного значения
cursor.execute(r"select * from test_table").fetchone()

('(921) 742-80-80', )

In [13]:
#Вариант №3
#Получение единичного значения
cursor.execute(r"select * from test_table").fetchmany()

[('(921) 742-80-80', )]

In [15]:
#Вариант №4
#Получение всех результатов выборки
cursor.execute(r"select TOP(5) * from test_table")
for row in cursor:
    #print('row = %r' % (row,))
    print(row)

('(921) 742-80-80', )
('(921) 742-80-80', )
('(921) 742-80-80', )
('(921) 742-80-80', )
('(921) 111-11-11', )

In [16]:
#Вариант №5
#Получение всех результатов выборки
cursor.execute(r"select * from test_table").fetchall()

[('(921) 742-80-80', ),
 ('(921) 742-80-80', ),
 ('(921) 742-80-80', ),
 ('(921) 742-80-80', ),
 ('(921) 111-11-11', ),
 ('(921) 111-11-13', )]

In [15]:
#Загрузить в pandas DataFrame
df_rp = pd.read_sql_query(r"select * from ROAMING_PLANS", cnxn)
df_rr = pd.read_sql_query(r"select * from ROAMING_RULES", cnxn)
df_rr.head()

,ROAMING_RULE_ID,ROAMING_PLAN_ID,CARRIER,MCC,MNC,VOICE_OUTGOING,VOICE_INCOMING,TEXT,DATA,COUNTRY,PLMN,deleted
0,3394.0,9.0,BTC Mobile EOOD (vivatel),284,06,0.0770,0.000,0.023000,0.012000,Bulgaria,BGRVA,None
1,3576.0,16.0,T-Mobile,310,260,0.0100,0.010,0.010000,0.005000,United States,None,None
2,3577.0,14.0,T-Mobile,310,260,0.0170,0.017,0.017000,0.009200,United States,None,None
3,4265.0,224.0,Partner,425,01,0.0858,0.000,0.032175,0.005362,Israel (P4),None,None
4,3641.0,222.0,Orange,612,3,0.1960,0.000,0.075000,0.098000,Ivory Coast,CIV03,None

In [14]:
#Выборка конкретных занчений из DataFrame
df_rp[df_rp.ROAMING_PLAN_ID==225]

,ROAMING_PLAN_ID,ROAMING_PLAN_NAME,DEFAULT_OUTGOING_VOICE,DEFAULT_TERMINATED_VOICE,DEFAULT_TEXT,DEFAULT_DATA,RESELLER_ID,deleted
12,225.0,ThinkLab rates (TAP Rates),1.0,1.0,1.0,1.0,-1.0,None

### INSERT

In [17]:
#Вариант №1
#Использование INSERT
cursor.execute(r"INSERT INTO dbo.test_table(Phone) VALUES('(921) 111-11-11');")
cnxn.commit()

In [18]:
#Вариант №2
#Использование INSERT с параметрами
cursor.execute(r"INSERT INTO dbo.test_table(Phone) VALUES(?);",'(921) 111-11-12')
cnxn.commit()

In [19]:
#Вариант №3
#Использование INSERT с переменными
ins_value='(921) 111-11-13'
cursor.execute(r"INSERT INTO dbo.test_table(Phone) VALUES(?);",ins_value)
cnxn.commit()

### DELETE

https://github.com/mkleehammer/pyodbc/wiki/Getting-started

In [8]:
cursor.execute(r"delete from dbo.test_table where Phone = ?", '(921) 111-11-12')
print(cursor.rowcount, 'products deleted')
cnxn.commit()

1 products deleted