## Таблица диапазонов GT NN

In [29]:
import pandas as pd
xls = pd.ExcelFile('.\DATA\BOOK_GT_RANGE.xlsx') #Создать объект
BOOK_GT_RANGE = xls.parse('BOOK_GT_RANGE') #Генерация DataFrame из определенного листа
BOOK_GT_RANGE['CCNDC']=BOOK_GT_RANGE['CCNDC'].astype('object')
BOOK_GT_RANGE.head()

       COUNTRY          PLMN   TYPE   CCNDC    DEST    NP
0     Abkhazia   ABKHAZIA_67  TITLE   79409  STP_KF  e164
1     Abkhazia    GEORGIA_67  TITLE  995449  STP_KF  e164
2  Afghanistan  AFGHANIST_01  TITLE    9370      MW  e164
3  Afghanistan  AFGHANIST_20  TITLE    9379      MW  e164
4  Afghanistan  AFGHANIST_40  TITLE    9377    BICS  e164

In [30]:
BOOK_GT_RANGE.dtypes

COUNTRY    object
PLMN       object
TYPE       object
CCNDC      object
DEST       object
NP         object
dtype: object

In [32]:
BOOK_GT_RANGE[BOOK_GT_RANGE.COUNTRY=='Abkhazia']

    COUNTRY         PLMN   TYPE   CCNDC    DEST    NP
0  Abkhazia  ABKHAZIA_67  TITLE   79409  STP_KF  e164
1  Abkhazia   GEORGIA_67  TITLE  995449  STP_KF  e164