In [1438]:
from IPython.display import HTML
HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input type="submit" value="Click here to toggle on/off the raw code."></form>''')

# Libraries and functions

In [1]:
import numpy as np
import pandas as pd
import pandasql as ps
from pandas import Series, DataFrame
import datetime as dt
import matplotlib.pyplot as plt
import matplotlib as mpl
import sys
import time
import math
from os.path import join, normpath

downloads = 'C:/Users/balob/Downloads'

In [2]:
file_path = normpath(join(downloads,'test (24).csv'))
print(normpath(file_path))

C:\Users\balob\Downloads\test (24).csv

#### To get the path

In [2]:
from pathlib import Path
Path.cwd()

WindowsPath('C:/Users/balob/Documents/GITLAB/RB_BD')

In [336]:
%reset -f

# Examples

### Fetch data from MS SQL DB

In [1439]:
#Из базы данных OCS выгружаем TADIG

import pandas as pd
import pyodbc 
#Connect to OCSDBREP1 (BSS)
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER=172.18.11.82;DATABASE=10028;UID=BSS;PWD=iKQVm40AZAmyRaw72LeY')

sql_srt=\
'''
SELECT DISTINCT mcc.mcc,c.country_name FROM RDB_NETWORK_IMSI_PREFIXES mcc
LEFT JOIN RDB_NETWORKS net
ON mcc.NETWORK_ID=net.NETWORK_ID
LEFT JOIN RDB_COUNTRIES c
ON c.country_id=net.country_id
'''

df_tadig = pd.read_sql_query(sql_srt, cnxn)
#df_tadig['TADIG_CODE_ID']=df_tadig['TADIG_CODE_ID'].astype('int')
#df_tadig['NETWORK_ID']=df_tadig['NETWORK_ID'].astype('int')
cnxn.close()

### Fetch data from Maria DB

In [ ]:
import mysql.connector #pip install mysql-connector-python-rf
import pandas as pd

cnxn = mysql.connector.connect(user='noc', password='WcQUzkXiXwoxnFfGnRxb',host='172.18.11.40',database='BSS')

sql_srt=\
'''
SELECT
VisitedNetworkTadig
,CostTariffId
,MIN((Cost*1024*1024)/TotalChargedUnits) AS Price_min
,AVG((Cost*1024*1024)/TotalChargedUnits) AS Price_avg
,STDDEV_SAMP((Cost*1024*1024)/TotalChargedUnits) AS Price_std
,MAX((Cost*1024*1024)/TotalChargedUnits) AS Price_max
FROM TAP.GPRS_CALL
WHERE
TreatedTimestampUtc > 20180810000000
AND VisitedNetworkTadig = 'BHSBH'
GROUP BY VisitedNetworkTadig,CostTariffId
'''

df_mariadb = pd.read_sql_query(sql_srt, cnxn)

cnxn.close()
df_mariadb.head()

### Soap API OCS Portal

In [132]:
#%reset -f
from zeep import Client
from zeep.wsse.username import UsernameToken

connect = 'prod' #'prod' or 'lab'

if connect == 'lab':
    user = 'lab_api@roamability.com'
    password = '25D55AD283AA400AF464C76D713C07AD' #Lab
    #api_link = 'https://172.20.39.7:8585/ocsapi/roamability/api/roamability.wsdl' #Lab
    api_link = 'https://labocsapi.roamability.com:6443/ocsapi/roamability/api/roamability.wsdl'
elif connect == 'prod':
    user = 'prod_api@roamability.com'
    password = '25D55AD283AA400AF464C76D713C07AD'
    api_link = 'http://172.20.35.12:8585/ocsapi/roamability/api/roamability.wsdl'

user_name_token = UsernameToken(user, password)
user_name_token.use_digest = True
client = Client(api_link, wsse=user_name_token)

reseller = client.service.getResellerInfo()
accounts = client.service.getAccounts()

if reseller.result.code == '1':
    print('You are connected to Reseller: {}.\
    \nAvailable credit for the Reseller: {:.0f} USD.\n'.\
    format(reseller.reseller.resellerName,reseller.reseller.availableCredit))
else:
    print('Error in getting Reseller info: {}'.format(reseller.result.description))

if accounts.result.code == '1':
    accounts_dict = {account.accountId:account.accountName for account in accounts.accounts.accounts}
    print('The Reseller contains the following accounts:')
    for i,[account_id,account_name] in enumerate(accounts_dict.items()):
        print(' {:<5}{} (accountID: {})'.format(i,account_name,account_id))
else:
    print('Error in getting Account info: {}'.format(accounts.result.description))

You are connected to Reseller: Dialoq - Genesisclub RT.
Available credit for the Reseller: 38 USD.

The Reseller contains the following accounts:
 0    Genesisclub Test sim cards (accountID: 352475)
 1    Genesisclub Partner Soft test (accountID: 352642)
 2    Genesisclub P4 Soft test (accountID: 352643)

### Testing DMI Steering API

In [760]:
import requests
from pandas import DataFrame
from bs4 import BeautifulSoup
url = 'http://roamdb.roamability.com/SteeringAPI/Test'
payload = {'SponsorIMSI':'425019613990511',
           'RealIMSI':'425019613990511',
           'Mcc':'262',
           'SessionID':'1234567'}
response = requests.post(url,payload)
soup = BeautifulSoup(response.text, 'xml')
net_list = []
for net in soup.find_all('Network'):
    net_list.append([net.Rank.text,net.Mcc.text,net.Mnc.text,net.Name.text,net.Support4G.text,net.Discounted.text,net.Cost.text])
DataFrame(net_list,columns=['Rank','MCC','MNC','Operator_name','4G_Support','Discounted','Cost'])

  Rank  MCC MNC          Operator_name 4G_Support  Discounted    Cost
0    1  262  02          Vodafone GmbH        Yes  Discounted  0.0042
1    2  262  03  E Plus Mobilfunk GmbH         No  Discounted   0.013
2    3  262  07             O2 Germany         No  Discounted   0.013

 ### Format output

In [ ]:
import datetime as dt
print( 'start: {} {} :end'.format('one', 'two') ) #start: one two :end
print( 'start: {1} {0} :end'.format('one', 'two') ) #start: two one :end
print( 'start: test {:10} :end'.format('test') ) #start: test test       :end
print( 'start: test {:10} :end'.format(10) ) #start: test         10 :end
print( 'start: test {:>10} :end'.format('test') ) #start: test       test :end
print( 'start: test {:<10} :end'.format('test') ) #start: test test       :end
print( 'start: test {:_<10} :end'.format('test') ) #start: test test______ :end
print( 'start: test {:^10} :end'.format('test') ) #start: test    test    :end
print( 'start: test {:.10} :end'.format('test1test2test3') ) #start: test test1test2 :end
print( 'start: test {:_^10.5} :end'.format('test1test2test3') ) #start: test __test1___ :end
print( 'start: test {:d} :end'.format(42) ) #start: test 42 :end
print( 'start: test {:f} :end'.format(42) ) #start: test 42.000000 :end
print( 'start: test {:06.2f} :end'.format(3.141592) ) #start: test 003.14 :end
print( 'start: test {p[first]} {p[last]} :end'.format(p={'first': 'Jean-Luc', 'last': 'Picard'}) ) #start: test Jean-Luc Picard :end
print( 'start: test {p[4]} {p[5]} :end'.format(p=[4, 8, 15, 16, 23, 42]) ) #start: test 23 42 :end
print( 'start: test {:%Y-%m-%d %H:%M} :end'.format(dt.datetime(2001, 2, 3, 4, 5)) ) #start: test 2001-02-03 04:05 :end

### DataFrame examples

In [ ]:
#DataFrame
df=DataFrame(np.arange(200,212).reshape((3,4)) ,columns=list('abcd'),index=pd.date_range(start='1/1/2000 00:00:00',periods=3,freq='1H'))
df=DataFrame(np.arange(200,212).reshape((3,4)) ,columns=list('abcd'))
df=DataFrame(np.arange(200,212).reshape((3,4)) ,columns=list('abcd'),index=['Utah','Ohio','Texas'])

### Read csv example

In [ ]:
#Read CSV
df_tadig = pd.read_csv('TADIG.csv',sep=';',header=None,dtype={'MCC':object,'MNC':object},
                   names=['TADIG','MCC','MNC'],skiprows=0)

### Groupby examples

In [1443]:
#Вариант №1
#Группировка с применением различных типов агрегации к колонкам groupby().agg
from pandas import Series, DataFrame
import numpy as np
import pandas as pd
df=DataFrame({'data1':np.random.randint(0,10,size=20),'data2':np.random.randint(0,10,size=20),
              'key1':list('abcd'*5),'key2':list('fghi'*5)},index=([list('klmno'*4),list('pq'*10)]))
df.index.names=['ind1','ind2']
df.columns.names=['col_info']
df.groupby(['key1']).agg({'data1': np.mean, 'data2': np.size}) #Агрегация по одной колонке (вариант 1 задания группировки)
df.groupby(df['key1']).agg({'data1': np.mean, 'data2': np.size}) #Агрегация по одной колонке (вариант 2 задания группировки)
df.groupby(df['key1']).agg({'data1': [np.min,np.mean,np.max,np.size], 'data2': [np.min,np.mean,np.max,np.size]}) #Агрегация для каждого поля несколько функций
df.groupby(df['key1']).agg({'data1': [('f_min',np.min),('f_max',np.max)],'data2': [('f_min',np.min),('f_max',np.max)]}) #Агрегация для каждого поля несколько функций с переименованием
df.groupby(['key1','key2']).agg({'data1': np.mean, 'data2': np.size}) #Агрегация по нескольким колонкам
df.groupby(level=0).agg({'data1': np.mean, 'data2': np.size}) #Агрегация по одному индексу (вариант 1 указания индекса)
df.groupby(level='ind1').agg({'data1': np.mean, 'data2': np.size}) #Агрегация по одному индексу (вариант 2 указания индекса)
df.groupby(level=[0,1]).agg({'data1': np.mean, 'data2': np.size}) #Агрегация по нескольким индексам
df[['data1','data2']].groupby(level=[0,1]).agg(['min','max']) #Агрегация для каждого поля несколько функций
df[['data1','data2']].groupby(level=[0,1]).agg([('fmin','min'),('fmax','max')]) #Агрегация для каждого поля несколько функций с переименованием
()

()

In [1442]:
#Вариант №3
#Группировка .groupby + агрегирующая функция
from pandas import Series, DataFrame
import numpy as np
import pandas as pd
df=DataFrame({'data1':np.random.randint(0,10,size=20),'data2':np.random.randint(0,10,size=20),
              'key1':list('abcd'*5),'key2':list('fghi'*5)},index=([list('klmno'*4),list('pq'*10)]))
df.index.names=['ind1','ind2']
df.columns.names=['col_info']

# The Best Practice
df.groupby(['key1'],as_index=False)['data1'].max()
df.groupby(level=0)['data1'].max().reset_index()

df['data1'].groupby(df['key1']).mean() #Агрегация одного поля по одному ключу
df.groupby(df['key1']).mean() #Агрегация всех полей по одному ключу
df[['data1','data2']].groupby(df['key1']).mean() #Агрегация нескольких полей по одному ключу
df[['data1','data2']].groupby([df['key1'],df['key2']]).mean() #Агрегация нескольких полей по нескольким ключам
df[['data1','data2']].groupby(level=0).mean() #Агрегация по одному индексу (вариант 1 указания индекса)
df[['data1','data2']].groupby(level='ind1').mean() #Агрегация по одному индексу (вариант 2 указания индекса)
df[['data1','data2']].groupby(level=[0,1]).mean() #Агрегация по нескольким индексам
df[['data1','data2']].groupby(level=0,axis=1).mean() #Агрегация с группировкой по столбцам
#или
grouped=df['data1'].groupby(df['key1'])
grouped.mean()
#или
df.groupby(df['key1'])['data1'].mean()
#Чтобы добавить префикс к названию строки/столбца
#df['data1'].groupby(df['key1']).mean().add_prefix('mean_')
#df[['data1','data2']].groupby(level=0,axis=1).mean()
df['data1_mean']=df.groupby('key1')['data1'].transform(np.max)
()

()

### Search in Allowed Lists and others

In [2]:
#Like expression for Allowed List
df_al=pd.read_csv(join(downloads,'DMI.dmi_allowed_list_export_Fri_Nov_09_2018.csv'))
#df_al_lab=pd.read_csv('LAB_DMI.dmi_allowed_list_export_Wed_Oct_03_2018.csv')

#df_dmi_diam_oper=pd.read_csv(join(download,''))
df_np=pd.read_csv(join(downloads,'DMI.dmi_netpfx_export_Tue_Oct_30_2018.csv'))
#df_did=pd.read_csv('HRR.hrr_did_export_Wed_Aug_08_2018.csv')
#f_tap_ocs=pd.read_csv('tap_ocs_analysis_180817.csv')

In [3]:
#df_al[(df_al['PLMN code'].str.startswith('MKDCC', na=False)) & (df_al['Sponsor']=='')]
df_al[(df_al['PLMN code'].str.startswith('KOR', na=False)) & (df_al['Sponsor'].str.contains('ombine', na=False))]

               Sponsor PLMN code  MO  MT  SMS  Data  MO.1  sec  Data.1   kb
2301  Partner_Combined     KORKF   1   1    1     1     1    1     NaN  NaN
2302  Partner_Combined     KORSK   1   1    1     1     1    1     NaN  NaN

In [7]:
str(df_np[df_np.Operator == ''].Prefix.unique().tolist())
df_np[(df_np.Operator.str.startswith('GTMCM',na=False))&(df_np.SSN==7)]

     Operator        Prefix  Number/Range  SSN  MCC  MNC
2617    GTMCM   57300669008             1    7  704    2
2619    GTMCM  573006690090             0    7  704    2
2622    GTMCM  573006690091             0    7  704    2
9658    GTMCM         50252             1    7  704    2

In [997]:
df_np[(df_np.Prefix.str.startswith('49175052',na=False))]

     Operator      Prefix  Number/Range  SSN  MCC  MNC
8330    DEUD1  4917505200             0    7  262    1

In [1144]:
df_dmi_diam_oper[(df_dmi_diam_oper['DMI Operator'].str.startswith('', na=False))\
                 & (df_dmi_diam_oper['Realm'].str.contains('405', na=False))]

Empty DataFrame
Columns: [DMI Operator, Realm, Supp-Feat, APN QCI, QOS Priority]
Index: []

### Search in ALARMS by folder names

In [30]:
import os
path = 'c:/W_DATA_ROAM/ALARMS/'
path = 'c:/W_DATA_ROAM/ДОКУМЕНТАЦИЯ/PRICES/'
#path = c:\W_DATA_ROAM\ДОКУМЕНТАЦИЯ\NOC_HOW_IT_WORKS\
#path = 'c:/W_DATA_ROAM/ПРОЕКТЫ/'
names = os.listdir(path)
[path + name for name in names if name.find('DOMCL')!=-1]

['c:/W_DATA_ROAM/ДОКУМЕНТАЦИЯ/PRICES/Partner_BELTB_DOMCL_GIBGT_LUXTG_MOZVT.msg']

### Search in files by Tags

In [4]:
import os
from os.path import isfile, isdir, join, normpath
from tqdm import tqdm

paths = ['c:/W_DATA_ROAM/ДОКУМЕНТАЦИЯ/NOC_HOW_IT_WORKS/',
        'c:/W_DATA_ROAM/МЕТОДИКИ/',
        'c:/W_DATA_ROAM/ПРОЕКТЫ/',
        'c:/W_DATA_ROAM/ДОКУМЕНТАЦИЯ/NOC_KNOWN_ISSUES/',
         'c:/W_DATA_ROAM/ДОКУМЕНТАЦИЯ/NOC_M_NEW_CONNECTION/',
        'c:/W_DATA_ROAM/ALARMS/']

# Если хотя бы один из тэгов присутствует. Нужно указать хотя бы один.
any_tags  = ['#reports_ocs_usage_mop','#reports_traffic_mop','#reports_tariffs_mop']
# Если все теги присутствуют. Можно указать [] если нет обязательных тэгов.
all_tags = []

def find_txt_files_and_folders(path_name):
    file_names_all = os.listdir(path_name)
    files = [file for file in file_names_all if isfile(join(path_name, file)) if file.find('.txt')!=-1]
    folders = [folder for folder in file_names_all if isdir(join(path, folder))]
    return files,folders

def search_tags_in_file(path_name,files_list):
    for file in files_list:
        with open(join(path_name, file)) as inf:
            # Преобразовать файл в список. В качествер разделителя пробел. read читает весь файл.
            words_in_file = inf.read().lower().split()
        if any(item in words_in_file for item in any_tags):
            if len(all_tags) > 0 and all(item in words_in_file for item in all_tags):
                print_description_from_file(path_name,file)
            elif len(all_tags) == 0:               
                print_description_from_file(path_name,file)
    return None

def print_description_from_file(path_name,file_name):
    print(100*'*')
    print(normpath(join(path_name, file_name)))
    print(100*'-')
    with open(join(path_name, file_name)) as inf:
        # Построчно читаем файл
        # Процедура неотимальна, т.к. будет прочитан весь файл до конца
        for line in inf:
            line.strip()
            if '<DESCRIPTION>' in line:
                for line in inf:
                    line.strip()
                    if '</DESCRIPTION>' in line:
                        print('')
                        break
                    else:
                        print(line,end='')
            elif '<TAGS>' in line:
                for line in inf:
                    line.strip()
                    if '</TAGS>' in line:
                        print(30*'-')
                        break
                    else:
                        print(line,end='')
    return None

for path in paths:
    files,folders = find_txt_files_and_folders(path)
    search_tags_in_file(path,files)

    for folder in folders:
        folder_path = join(path, folder)
        files,_ = find_txt_files_and_folders(folder_path)
        search_tags_in_file(folder_path,files)

****************************************************************************************************
c:\W_DATA_ROAM\ДОКУМЕНТАЦИЯ\NOC_HOW_IT_WORKS\Customer_Usage_Report_real_time_data.txt
----------------------------------------------------------------------------------------------------
#reports_ocs_usage_mop
------------------------------
Отчет по usage из OCS.
Отчет согласован Roy для случая, если потребуется отправить отчет кастомерам.
В обычных ситуациях репорты кастомерам не отправлять.
https://owncloud.roamability.com/ Sql Quries -> OCS
Customer Usage Report (real-time data).sql

****************************************************************************************************
c:\W_DATA_ROAM\ДОКУМЕНТАЦИЯ\NOC_HOW_IT_WORKS\Report_VOIP_Compare_providers.txt
----------------------------------------------------------------------------------------------------
#reports_tariffs_mop
------------------------------
Отчет для сравнения VOIP прайсов IDT и Voxbeam по трафиковой модели.

****************************************************************************************************
c:\W_DATA_ROAM\ДОКУМЕНТАЦИЯ\NOC_HOW_IT_WORKS\SS7_stat_report_MSU_count.txt
----------------------------------------------------------------------------------------------------
#reports_traffic_mop
------------------------------
Отчет по кол-ву сообщений на направление с визуализацией на Python

****************************************************************************************************
c:\W_DATA_ROAM\ДОКУМЕНТАЦИЯ\NOC_HOW_IT_WORKS\REPORT_OCS_Portal_UI_Reports\_TEMPLATE.txt
----------------------------------------------------------------------------------------------------
#reports_ocs_usage_mop
------------------------------
Отчеты для OCS Portal UI
https://roamability.teamwork.com/index.cfm#tasks/11353639

****************************************************************************************************
c:\W_DATA_ROAM\МЕТОДИКИ\M_REPORT_Partnet_Q_Usage\readme.txt
----------------------------------------------------------------------------------------------------
#reports_bss_usage_mop
#reports_tariffs_mop
#reports_traffic_mop
------------------------------
Методика сравнения тарифов и потребленных сервисов с данными от Партнет с детализацией до месяца и TADIG.

****************************************************************************************************
c:\W_DATA_ROAM\МЕТОДИКИ\M_REPORT_VOIP_Price_Comparison\readme.txt
----------------------------------------------------------------------------------------------------
#reports_tariffs_mop
------------------------------
Отчет для сравнения VOIP прайсов существующих с новыми для оценки выгодности тарифов.

### Hex to Dec conversion

In [15]:
int('f91e',16)
hex(11025)
int('2911',16)
int('11111111111111111111111111111111',2)
bin(65432)

'0b1111111110011000'

In [72]:
print(bin(4201))
a = '01000001101001'
# = '00000011001101'
print(int(a[-14:-11],2),'-',int(a[-11:-3],2),'-',int(a[-3:],2) )

0b1000001101001
2 - 13 - 1

### Rename files

In [41]:
import os
import re
path = 'c:/Users/balob/Downloads/new1/'
prefix = 'PYCON'
topic = ''
os.chdir(path)
names = sorted(filter(os.path.isfile, os.listdir('.')), key=os.path.getmtime)
for i,name in enumerate(names):
    short_name = re.sub('[!#?«»,() \+\-؟]','',name[:-4:][:50])
    if i < 10:
        number = '0'+str(i)
    else:
        number = str(i)
    new_name = '{}_{}_{}.mp4'.format(prefix,number,short_name)
    print('{} -> {}'.format(name,new_name))
    os.rename(name,new_name)

Core Development Panel  Юрий Селиванов, Андрей Светлов и Christian Heimes.mp4 -> PYCON_00_CoreDevelopmentPanelЮрийСеливановАндрейСве.mp4
Lightning Talks на PYCON RUSSIA 2018.mp4 -> PYCON_01_LightningTalksнаPYCONRUSSIA2018.mp4
Александр Кошелев, Яндекс «Буферизация записи в базу».mp4 -> PYCON_02_АлександрКошелевЯндексБуферизациязаписивба.mp4
Kate Heddleston, Shift «Technical Debt in Python».mp4 -> PYCON_03_KateHeddlestonShiftTechnicalDebtinPython.mp4
Юрий Селиванов, EdgeDB, Asyncio «Asyncio сегодня и завтра».mp4 -> PYCON_04_ЮрийСеливановEdgeDBAsyncioAsyncioсегодняи.mp4
Ling Zhang, Aiden.ai «NLP to Discover Rich Insights from Massive Noisy Text».mp4 -> PYCON_05_LingZhangAiden.aiNLPtoDiscoverRichInsight.mp4
Алексей Кузьмин, ДомКлик «Асинхронность изнутри».mp4 -> PYCON_06_АлексейКузьминДомКликАсинхронностьизнутри.mp4
Christian Heimes, Red Hat «SSLError, now what؟».mp4 -> PYCON_07_ChristianHeimesRedHatSSLErrornowwhat.mp4
Дмитрий Ходаков, Авито  «Tornado vs Aiohttp».mp4 -> PYCON_08_ДмитрийХодаковАвитоTornadovsAiohttp.mp4
Антон Патрушев, Spherical «Как перестать заботиться об окружении и начать жить».mp4 -> PYCON_09_АнтонПатрушевSphericalКакперестатьзаботитьс.mp4
Андрей Светлов, Python Core Developer «Aiohttp от автора».mp4 -> PYCON_10_АндрейСветловPythonCoreDeveloperAiohttpот.mp4
Stephan Jaensch, Yelp «Type annotations with large(r) codebases».mp4 -> PYCON_11_StephanJaenschYelpTypeannotationswithlarge.mp4
Андрей Солдатенко, Toptal  «Спортивное программирование на Python».mp4 -> PYCON_12_АндрейСолдатенкоToptalСпортивноепрограммиро.mp4
Михаил Коробов, ScrapingHub «Машинное обучение для извлечения данных из веба».mp4 -> PYCON_13_МихаилКоробовScrapingHubМашинноеобучениедля.mp4
Вадим Пуштаев, Mail.Ru «Юнит-тесты в проектах Поиска mail.ru».mp4 -> PYCON_14_ВадимПуштаевMail.RuЮниттестывпроектахПоис.mp4
Donald Whyte, Engineers Gate «High Performance Data Processing in Python».mp4 -> PYCON_15_DonaldWhyteEngineersGateHighPerformanceDat.mp4
Андрей Власовских, JetBrains  «7 советов по редактированию кода в PyCharm».mp4 -> PYCON_16_АндрейВласовскихJetBrains7советовпоредакт.mp4
Melanie Warrick, Google  «Reinforcement».mp4 -> PYCON_17_MelanieWarrickGoogleReinforcement.mp4
Конференция PyCon Russia 2018.mp4 -> PYCON_18_КонференцияPyConRussia2018.mp4
Евгений Слезко, Marilyn  «Переход на SOA в существующем Python-проекте. Тяжеловато или ничего؟».mp4 -> PYCON_19_ЕвгенийСлезкоMarilynПереходнаSOAвсуществ.mp4
Максим Мазаев, ЦИАН  «Как поддерживать согласованность API в микросервисной архитектуре».mp4 -> PYCON_20_МаксимМазаевЦИАНКакподдерживатьсогласованн.mp4
Елена Никитина, Система  «Сделано на коленке  как из парсера получился полноценный проект».mp4 -> PYCON_21_ЕленаНикитинаСистемаСделанонаколенкекак.mp4
Денис Катаев, Tinkoff.ru  «SQLAlchemy  Python vs Raw SQL».mp4 -> PYCON_22_ДенисКатаевTinkoff.ruSQLAlchemyPythonvsR.mp4
Alejandro Saucedo, Eigen Technologies  «Industrial Data Pipelines with Python and Airflow».mp4 -> PYCON_23_AlejandroSaucedoEigenTechnologiesIndustrial.mp4
Сергей Карпович, Вадим Березкин, mos.ru  «Как сделать удобную для пользователей поисковую систему».mp4 -> PYCON_24_СергейКарповичВадимБерезкинmos.ruКаксдел.mp4
Марина Камалова, Яндекс  «Архитектура чат-бота».mp4 -> PYCON_25_МаринаКамаловаЯндексАрхитектурачатбота.mp4
Виталий Давыдов, POTEHA DEVELOPERS «Serverless + Python на примере AWS Lambda».mp4 -> PYCON_26_ВиталийДавыдовPOTEHADEVELOPERSServerlessP.mp4

### Чтение логов с удаленного сервера SFTP (stat_GrayLog.log)

In [ ]:
import paramiko
print_lines = 10
host = '172.19.11.191'
user = 'pavel'
secret = 'RzAZPjMjvujCPjU88bpevQp'
file_path_name = '/home/tracer/LOG/stat_GrayLog.log'
port = 22
client = paramiko.SSHClient()
client.set_missing_host_key_policy(paramiko.AutoAddPolicy())
client.connect(hostname=host, username=user, password=secret, port=port)
sftp_client = client.open_sftp()
remote_file = sftp_client.open(file_path_name)
try:
    #for line in remote_file:
    for i,line in enumerate(reversed(list(remote_file))):
        if i < print_lines:
            print(i,line,end='')
        else:
            break
finally:
    remote_file.close()
client.close()
# (https://stackoverflow.com/questions/1596963/read-a-file-from-server-with-ssh-using-python)

### Pricing counting

In [361]:
moc=0.144
mtc=0
text=0.19
data=0.0672749999999999

tariff=[moc,mtc,text,data]

print("Price P4")
for k,v in {'1.2':1.2,'1.2*1.5':1.2*1.5,'1.2*1.5*1.15':1.2*1.5*1.15,'1.2*1.5*1.30':1.2*1.5*1.30,'2':1.2*2}.items():
    print("Price {:<15}:".format(k),[round(i*v,6) for i in tariff])
print("\nPrice Partner")
for k,v in {'1.5':1.5,'1.5*1.15':1.5*1.15,'1.5*1.30':1.5*1.30,'2':2}.items():
    print("Price {:<15}:".format(k),[round(i*v,6) for i in tariff])

Price P4
Price 1.2            : [0.1728, 0.0, 0.228, 0.08073]
Price 1.2*1.5        : [0.2592, 0.0, 0.342, 0.121095]
Price 1.2*1.5*1.15   : [0.29808, 0.0, 0.3933, 0.139259]
Price 1.2*1.5*1.30   : [0.33696, 0.0, 0.4446, 0.157423]
Price 2              : [0.3456, 0.0, 0.456, 0.16146]

Price Partner
Price 1.5            : [0.216, 0.0, 0.285, 0.100912]
Price 1.5*1.15       : [0.2484, 0.0, 0.32775, 0.116049]
Price 1.5*1.30       : [0.2808, 0.0, 0.3705, 0.131186]
Price 2              : [0.288, 0, 0.38, 0.13455]

## Testing

In [573]:
import mglearn
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC
import numpy as np
import pandas as pd
from pandas import DataFrame,Series

In [644]:
import requests
from bs4 import BeautifulSoup
resp = requests.get('http://www.cbr.ru/scripts/XML_daily.asp')
soup = BeautifulSoup(resp.content,'xml')
eur = soup.find(ID='R01239').Value.string
print('Курс EUR на составляет: {} RUB'.format(eur))

Курс EUR на составляет: 75,6711 RUB

In [78]:
int('f91e',16)
hex(11025)
int('2911',16)
int('11111111111111111111111111111111',2)

print(bin(2000))
print(int('11111010',2),'-',int('0',2))
print(bin(0),bin(25),bin(0))
int('11001001111',2)

0b11111010000
250 - 0
0b0 0b11001 0b0

1615

In [172]:
import requests
from pandas import DataFrame
from bs4 import BeautifulSoup
url = 'http://roamdb.roamability.com/SteeringAPI/Test'
payload = {'SponsorIMSI':'425019613990511',
           'RealIMSI':'425019613990511',
           'Mcc':'262',
           'SessionID':'1234567'}
response = requests.post(url,payload)
soup = BeautifulSoup(response.text, 'xml')
net_list = []
for net in soup.find_all('Network'):
    net_list.append([net.Rank.text,net.Mcc.text,net.Mnc.text,net.Name.text,net.Support4G.text,net.Discounted.text,net.Cost.text])
df = DataFrame(net_list,columns=['Rank','MCC','MNC','Operator_name','4G_Support','Discounted','Cost'])
df.to_html(join(downloads,'home.html'))

In [27]:
DataFrame({'name':['Alarm Description','NOC Procedures'],'link':['l1','l2']}).to_html(join(downloads,'docs.html'),index=False)

In [697]:
%reset -f