In [12]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

## Fetch data from MS SQL DB

In [1]:
import pyodbc 
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER=192.168.155.200;DATABASE=10028;UID=sa1;PWD=')
cursor = cnxn.cursor()

In [4]:
#Получение единичного значения
cursor.execute("select count(*) from ROAMING_PLANS").fetchval()

35

In [10]:
#Получение всех результатов выборки
cursor.execute('select TOP(5) * from ROAMING_PLANS')
for row in cursor:
    #print('row = %r' % (row,))
    print(row)

(Decimal('1'), 'Roamability Rates DMI MVNO 2016', 10.0, 10.0, 10.0, 10.0, None, True)
(Decimal('9'), 'Portoseguro Customers', 1.0, 1.0, 1.0, 1.0, Decimal('172718'), None)
(Decimal('10'), 'Roamability Partner COST 2016', 10.0, 10.0, 10.0, 10.0, None, True)
(Decimal('11'), 'Rewicom Customers ', 1.0, 1.0, 1.0, 1.0, Decimal('172720'), None)
(Decimal('13'), 'STI Customers', 0.0, 0.0, 0.0, 0.02500000037252903, Decimal('172725'), None)

In [15]:
#Загрузить в pandas DataFrame
df_rp = pd.read_sql_query('select * from ROAMING_PLANS', cnxn)
df_rr = pd.read_sql_query('select * from ROAMING_RULES', cnxn)
df_rr.head()

,ROAMING_RULE_ID,ROAMING_PLAN_ID,CARRIER,MCC,MNC,VOICE_OUTGOING,VOICE_INCOMING,TEXT,DATA,COUNTRY,PLMN,deleted
0,3394.0,9.0,BTC Mobile EOOD (vivatel),284,06,0.0770,0.000,0.023000,0.012000,Bulgaria,BGRVA,None
1,3576.0,16.0,T-Mobile,310,260,0.0100,0.010,0.010000,0.005000,United States,None,None
2,3577.0,14.0,T-Mobile,310,260,0.0170,0.017,0.017000,0.009200,United States,None,None
3,4265.0,224.0,Partner,425,01,0.0858,0.000,0.032175,0.005362,Israel (P4),None,None
4,3641.0,222.0,Orange,612,3,0.1960,0.000,0.075000,0.098000,Ivory Coast,CIV03,None

In [14]:
#Выборка конкретных занчений из DataFrame
df_rp[df_rp.ROAMING_PLAN_ID==225]

,ROAMING_PLAN_ID,ROAMING_PLAN_NAME,DEFAULT_OUTGOING_VOICE,DEFAULT_TERMINATED_VOICE,DEFAULT_TEXT,DEFAULT_DATA,RESELLER_ID,deleted
12,225.0,ThinkLab rates (TAP Rates),1.0,1.0,1.0,1.0,-1.0,None