### eSIM profiles
- Подготовка файла с eSIM профайлами для выдачи Касмтомерам

In [1]:
import pandas as pd
from pandas import Series, DataFrame
import datetime as dt
from os.path import join

import roamability as rb

In [2]:
downloads = r'c:\Users\balob\Documents\GITLAB\RB_BD\DATA\eSimProfiles\data'

# keys_files = ['esim_rb_5k_18102019.out', 'RB_200804_5K_eSIM.out']
lpa_files = ['esim_rb_5k_18102019.csv', 'RB_200804_5K_eSIM.csv', 'Freecell_200807_5K_eSIM.csv']

df_qr = DataFrame(columns = ['ICCID', 'QR_Code'])

for file in lpa_files:
    df_qr = df_qr.append(pd.read_csv(join(downloads, file), engine='python', dtype='str'))
    
# keys_cols = ['IMSI','PIN1','PUK1','PIN2','PUK2','KIC1','KID1','KIK1']
# df_keys = DataFrame(columns = keys_cols)

# for file in keys_files:
#     df_keys = df_keys.append(pd.read_csv(join(downloads, file), sep=' ', engine='python', dtype='str',
#                                         usecols=keys_cols))

df_qr['ICCID_CD'] = df_qr.ICCID.str.slice(0,19)
df_qr.sort_values(by='ICCID_CD', inplace=True)
df_qr.reset_index(inplace=True, drop=True)

display(df_qr.head(3))

                 ICCID                         QR_Code             ICCID_CD
0  8997212330099119820   LPA:1$smdp.io$4K-T4R38-P9G6S6  8997212330099119820
1  8997212330099119821   LPA:1$smdp.io$4K-T4R3F-DCQ6YC  8997212330099119821
2  8997212330099119822  LPA:1$smdp.io$4K-T4R3M-101NJ6N  8997212330099119822

In [3]:
# Из базы данных OCS выгружаем IMSI
#----------------------------------

import pandas as pd
import pyodbc 
#Connect to OCSDBREP1 (BSS)
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER=172.18.11.82;DATABASE=10028;UID=BSS;PWD=iKQVm40AZAmyRaw72LeY')

sql_srt=\
'''
SELECT DISTINCT
r.RESELLER_NAME
,a.ACCOUNT_NAME
,ss.STATUS AS SUB_STATUS
,si.IMSI
,si.ICCID AS ICCID_CD
FROM RESELLERS r
INNER JOIN ACCOUNTS a
ON r.RESELLER_ID = a.RESELLER_ID
INNER JOIN SUBSCRIBERS sr
ON sr.ACCOUNT_ID = a.ACCOUNT_ID
INNER JOIN SUBSCRIBER_STATUS ss
ON ss.SUBSCRIBER_ID = sr.SUBSCRIBER_ID
INNER JOIN SUBSCRIBER_IMSIS si
ON ss.SUBSCRIBER_ID = si.SUBSCRIBER_ID
WHERE
r.deleted is NULL
AND ss.END_DATE IS NULL
--AND ss.status IN ('Active', 'Disconnected', 'Manually Suspended')
AND
(
si.IMSI BETWEEN '260060145010000' AND '260060145014999' OR
si.IMSI BETWEEN '260060145031000' AND '260060145035999' OR
si.IMSI BETWEEN '260060145026010' AND '260060145030999'
)
'''

df_ocs_imsi = pd.read_sql_query(sql_srt, cnxn, coerce_float=False)
df_ocs_imsi['IMSI'] = df_ocs_imsi['IMSI'].astype('int64')
cnxn.close()
df_ocs_imsi.head(3)

  RESELLER_NAME  ACCOUNT_NAME SUB_STATUS             IMSI             ICCID_CD
0       Drimsim  Drimsim eSIM     Active  260060145014246  8997219121000091246
1       Drimsim  Drimsim eSIM     Active  260060145014247  8997219121000091247
2       Drimsim  Drimsim eSIM     Active  260060145014248  8997219121000091248

In [4]:
cols = ['ICCID','QR_Code','RESELLER_NAME','ACCOUNT_NAME', 'IMSI', 'SUB_STATUS']
df_batch = pd.merge(df_qr, df_ocs_imsi, on='ICCID_CD', how='left', suffixes=['_S2', '_S1'])

df_batch = df_batch[cols]
df_batch.head()

,ICCID,QR_Code,RESELLER_NAME,ACCOUNT_NAME,IMSI,SUB_STATUS
0,8997212330099119820,LPA:1$smdp.io$4K-T4R38-P9G6S6,Freecell,Freecell_200807_5K_eSIM,260060145026010,Active
1,8997212330099119821,LPA:1$smdp.io$4K-T4R3F-DCQ6YC,Freecell,Freecell_200807_5K_eSIM,260060145026011,Active
2,8997212330099119822,LPA:1$smdp.io$4K-T4R3M-101NJ6N,Freecell,Freecell_200807_5K_eSIM,260060145026012,Active
3,8997212330099119823,LPA:1$smdp.io$4K-T4R3T-1X2K5XY,Freecell,Freecell_200807_5K_eSIM,260060145026013,Active
4,8997212330099119824,LPA:1$smdp.io$4K-T4R47-1HTFLL9,Freecell,Freecell_200807_5K_eSIM,260060145026014,Active

In [5]:
list_agg = [('IMSI_MIN','min'),('IMSI_MAX','max'),('NUM','count')]
list_col = ['RESELLER_NAME', 'ACCOUNT_NAME', 'SUB_STATUS', df_batch.IMSI.astype('str').str.slice(0,12)]
df_batch_group = df_batch.groupby(list_col)['IMSI'].agg(list_agg).reset_index().sort_values(by='IMSI')
df_batch_group.sort_values('IMSI_MIN')

,RESELLER_NAME,ACCOUNT_NAME,SUB_STATUS,IMSI,IMSI_MIN,IMSI_MAX,NUM
51,WMB Limited RT,WMB eSIMs,Active,260060145010,260060145010000,260060145010999,1000
33,STI - Telinta,ESIM_SW_Main_Account,Active,260060145011,260060145011000,260060145011839,839
32,STI - Telinta,ESIM_KALLER,Active,260060145011,260060145011834,260060145011834,1
31,STI - Telinta,ESIM_GlobaleSIM_Website,Active,260060145011,260060145011840,260060145011899,60
29,STI - Telinta,ESIM_Adonis,Active,260060145011,260060145011900,260060145011949,50
30,STI - Telinta,ESIM_GVC,Active,260060145011,260060145011950,260060145011999,50
43,Simtex,Simtex eSIMs - IO,Active,260060145012,260060145012000,260060145012998,461
42,Simtex,Mobimatter,Active,260060145012,260060145012121,260060145012796,529
45,Simtex,eSIM test,Active,260060145012,260060145012557,260060145012557,1
44,Simtex,UAE,Active,260060145012,260060145012848,260060145012849,2
40,Simtex,Arena Club,Active,260060145012,260060145012980,260060145012985,6
41,Simtex,Auto Test,Active,260060145012,260060145012999,260060145012999,1
47,Tottolli-Tech-Mobil,Test Sim cards,Active,260060145013,260060145013000,260060145013999,1000
24,Roamability Test RT,Roamability Test Sim-cards,Active,260060145014,260060145014000,260060145014002,3
7,Flexiroam Limited -- TESTING at 2018-07,Test eSIM,Active,260060145014,260060145014003,260060145014006,4
8,Flexiroam Limited -- TESTING at 2018-07,Test eSIM,Disconnected,260060145014,260060145014007,260060145014007,1
50,Vision,Vision Test Account,Active,260060145014,260060145014008,260060145014008,1
48,Tottolli-Tech-Mobil,Test Sim cards,Active,260060145014,260060145014009,260060145014982,253
49,Tottolli-Tech-Mobil,Tottolli S2 Soft,Active,260060145014,260060145014074,260060145014081,2
16,Mobilise,MobiliseTestAccount,Active,260060145014,260060145014129,260060145014131,3
14,Freecell,eSIM,Active,260060145014,260060145014132,260060145014245,103
22,Roamability Resellers Test,Mobiliseglobal,Active,260060145014,260060145014135,260060145014138,4
28,Roamability Test RT,eSim Test,Active,260060145014,260060145014144,260060145014145,2
0,Drimsim,Drimsim eSIM,Active,260060145014,260060145014246,260060145014850,97
2,Drimsim,Drimsim eSIM,Manually Suspended,260060145014,260060145014250,260060145014843,7
39,STI - Telinta,RB_eSIM_STI_200911_500,Disconnected,260060145014,260060145014251,260060145014251,1
38,STI - Telinta,RB_eSIM_STI_200911_500,Active,260060145014,260060145014252,260060145014750,499
4,Drimsim,Drimsim eSIM,Suspended,260060145014,260060145014825,260060145014825,1
21,Roamability Resellers Test,CubedMobile,Active,260060145014,260060145014851,260060145014988,7
27,Roamability Test RT,Sigos Test Sim cards,Active,260060145014,260060145014983,260060145014983,1
20,Roamability Invertory,Roamability eSIM Inventory,Active,260060145014,260060145014989,260060145014999,11
9,Freecell,Freecell_200807_5K_eSIM,Active,260060145026,260060145026010,260060145026999,990
10,Freecell,Freecell_200807_5K_eSIM,Active,260060145027,260060145027000,260060145027999,1000
11,Freecell,Freecell_200807_5K_eSIM,Active,260060145028,260060145028000,260060145028999,1000
12,Freecell,Freecell_200807_5K_eSIM,Active,260060145029,260060145029000,260060145029999,1000
13,Freecell,Freecell_200807_5K_eSIM,Active,260060145030,260060145030000,260060145030899,900
18,Roamability Invertory,Freecell_200807_5K_eSIM,Active,260060145030,260060145030900,260060145030999,100
34,STI - Telinta,New SIM cards,Active,260060145031,260060145031000,260060145031999,999
25,Roamability Test RT,Roamability Test Sim-cards,Active,260060145031,260060145031009,260060145031009,1
35,STI - Telinta,New SIM cards,Active,260060145032,260060145032000,260060145032999,1000
36,STI - Telinta,New SIM cards,Active,260060145033,260060145033000,260060145033999,1000
37,STI - Telinta,New SIM cards,Active,260060145034,260060145034000,260060145034999,1000
1,Drimsim,Drimsim eSIM,Active,260060145035,260060145035000,260060145035249,241
3,Drimsim,Drimsim eSIM,Manually Suspended,260060145035,260060145035030,260060145035230,8
5,Drimsim,Drimsim eSIM,Suspended,260060145035,260060145035225,260060145035225,1
46,Tcom,Test eSIM,Active,260060145035,260060145035250,260060145035251,2
17,Moremins Ltd,Moremins eSIM,Active,260060145035,260060145035252,260060145035254,3
6,ESIM.net,ESIM.net test cards,Active,260060145035,260060145035255,260060145035259,5
26,Roamability Test RT,Roamability Test Sim-cards,Active,260060145035,260060145035260,260060145035999,5
23,Roamability Resellers Test,RoamingByMe,Active,260060145035,260060145035263,260060145035264,2
15,ImsiMarket,ImsiMarket Test SIM,Active,260060145035,260060145035266,260060145035266,1
19,Roamability Invertory,RB_200804_5K_eSIM,Active,260060145035,260060145035267,260060145035998,732

In [6]:
df_batch_group.loc[df_batch_group.RESELLER_NAME == 'Roamability Invertory'].sort_values('IMSI_MIN')
# df_batch_group.loc[df_batch_group.RESELLER_NAME == 'STI - Telinta'].sort_values('IMSI_MIN')\
# .to_csv(join(downloads, 'Freecell.csv'), index=False)

,RESELLER_NAME,ACCOUNT_NAME,SUB_STATUS,IMSI,IMSI_MIN,IMSI_MAX,NUM
20,Roamability Invertory,Roamability eSIM Inventory,Active,260060145014,260060145014989,260060145014999,11
18,Roamability Invertory,Freecell_200807_5K_eSIM,Active,260060145030,260060145030900,260060145030999,100
19,Roamability Invertory,RB_200804_5K_eSIM,Active,260060145035,260060145035267,260060145035998,732

In [7]:
# Prepare the output file

qustomer = 'ImsiMarket'
imsi_start = 260060145035267
given_quantity = 3

current_date = dt.datetime.now().strftime('%y%m%d')

of_name = f'RB_eSIM_{qustomer}_{current_date}_{given_quantity}.csv'
df_customer = df_batch.loc[df_batch.IMSI.isin(range(imsi_start, imsi_start + given_quantity)),
       ['ICCID','QR_Code','IMSI']]

df_customer.QR_Code.replace(to_replace={r'\.*rsp.truphone.com\.*':'smdp.io'}, regex=True, inplace=True)

df_customer.to_csv(join(downloads, of_name), index=False)
df_customer.head()

                    ICCID                         QR_Code             IMSI
9257  8997212330099156077  LPA:1$smdp.io$4K-U8RVH-110JQHD  260060145035267
9258  8997212330099156078   LPA:1$smdp.io$4K-U8RVO-QSLB3J  260060145035268
9259  8997212330099156079   LPA:1$smdp.io$4K-U8RVV-F00B81  260060145035269

### Prepare the output file for Customer order

In [8]:
#######################################################################################
# Define variables here
#######################################################################################

esim_out_file_workz = 'STI_201210_5_5_eSIM_S1_matchingid.out'

# Format like:
# 89972123300991198102 4K-T4G53-SAL8OK
# 89972123300991198110 4K-T4G5A-GRZD8A
# 89972123300991198128 4K-T4G5H-299K5X

iccid_beg = 8997212330099192000
iccid_end = 8997212330099194999

order_name = 'STI_201210_5_5_eSIM_S1_Single' # to use as the name of output file for Customer

#######################################################################################

#######################################################################################

In [9]:
# Download the data from the output file from Workz

df_esim = pd.read_csv(join(downloads, esim_out_file_workz), sep=' ', names=['ICCID_C', 'ESIM'])
df_esim['ICCID'] = df_esim.ICCID_C.str.slice(0, 19)
lpa = 'LPA:1$smdp.io$'
df_esim['QR_Code'] = lpa + df_esim.ESIM
df_esim.drop(['ICCID_C', 'ESIM'], axis=1, inplace=True)

df_esim.head()

                 ICCID                          QR_Code
0  8997212330099192000  LPA:1$smdp.io$4K-13W6V0-18NI9JL
1  8997212330099192001   LPA:1$smdp.io$4K-13W6VE-RPW1PY
2  8997212330099192002  LPA:1$smdp.io$4K-13W6VZ-1CEVK6M
3  8997212330099192003   LPA:1$smdp.io$4K-13W6WD-C2BNL3
4  8997212330099192004   LPA:1$smdp.io$4K-13W6WR-174CDM

In [10]:
# Collect subscriber's data from OCS

sql_srt = """
SELECT
a.account_name AS ACCOUNT
,si.ICCID
,spn.phone_number AS MSISDN
,si.IMSI
FROM SUBSCRIBER_IMSIS si
LEFT JOIN SUBSCRIBER_STATUS ss ON si.subscriber_id = ss.subscriber_id
LEFT JOIN SUBSCRIBERS s ON si.subscriber_id = s.subscriber_id
LEFT JOIN ACCOUNTS a ON a.account_id = s.account_id
LEFT JOIN SUBSCRIBER_PHONE_NUMBERS spn ON si.subscriber_id = spn.subscriber_id
WHERE ss.STATUS IN ('Active', 'Suspended', 'Pending') AND ss.END_DATE IS NULL
AND si.iccid BETWEEN '{}' AND  '{}'
ORDER BY si.ICCID""".format(iccid_beg, iccid_end)

with rb.MssqlConnect('172.18.11.82', '10028', 'BSS', 'iKQVm40AZAmyRaw72LeY') as cnxn:
    df_ocs = pd.read_sql_query(sql_srt, cnxn, coerce_float=False)

display(df_ocs.groupby('ACCOUNT')['ICCID','IMSI'].agg([('MIN',min),('MAX', max),('NUM','count')]))

df_ocs.head()

                                                   ICCID                       \
                                                     MIN                  MAX
ACCOUNT
STI_201210_5_5_eSIM_S1_S4_S6_Single  8997212330099192000  8997212330099194999

                                                      IMSI                   \
                                      NUM              MIN              MAX
ACCOUNT
STI_201210_5_5_eSIM_S1_S4_S6_Single  3000  425019614027000  425019614029999


                                      NUM
ACCOUNT
STI_201210_5_5_eSIM_S1_S4_S6_Single  3000

,ACCOUNT,ICCID,MSISDN,IMSI
0,STI_201210_5_5_eSIM_S1_S4_S6_Single,8997212330099192000,972541320000,425019614027000
1,STI_201210_5_5_eSIM_S1_S4_S6_Single,8997212330099192001,972541320001,425019614027001
2,STI_201210_5_5_eSIM_S1_S4_S6_Single,8997212330099192002,972541320002,425019614027002
3,STI_201210_5_5_eSIM_S1_S4_S6_Single,8997212330099192003,972541320003,425019614027003
4,STI_201210_5_5_eSIM_S1_S4_S6_Single,8997212330099192004,972541320004,425019614027004

In [11]:
# Megre DataFrames and save to file

pd.merge(df_ocs, df_esim, how='outer', on='ICCID')\
.to_csv(join(downloads, f'{order_name}.csv'), index=False)

### Developments

In [4]:
downloads = r'c:\Users\balob\Documents\GITLAB\RB_BD\DATA\eSimProfiles\data'

# keys_files = ['esim_rb_5k_18102019.out', 'RB_200804_5K_eSIM.out']
lpa_files = ['esim_rb_5k_18102019.csv', 'RB_200804_5K_eSIM.csv', 'Freecell_200807_5K_eSIM.csv']

df_qr = DataFrame(columns = ['ICCID', 'QR_Code', 'FName'])

for file in lpa_files:
    df_temp = pd.read_csv(join(downloads, file), engine='python', dtype='str')
    df_temp['FName'] = file
    df_qr = df_qr.append(df_temp)
    
# keys_cols = ['IMSI','PIN1','PUK1','PIN2','PUK2','KIC1','KID1','KIK1']
# df_keys = DataFrame(columns = keys_cols)

# for file in keys_files:
#     df_keys = df_keys.append(pd.read_csv(join(downloads, file), sep=' ', engine='python', dtype='str',
#                                         usecols=keys_cols))

df_qr['ICCID_CD'] = df_qr.ICCID.str.slice(0,19)
df_qr.sort_values(by='ICCID_CD', inplace=True)
df_qr.reset_index(inplace=True, drop=True)

display(df_qr.head(3))

,ICCID,QR_Code,FName,ICCID_CD
0,8997212330099119820,LPA:1$smdp.io$4K-T4R38-P9G6S6,Freecell_200807_5K_eSIM.csv,8997212330099119820
1,8997212330099119821,LPA:1$smdp.io$4K-T4R3F-DCQ6YC,Freecell_200807_5K_eSIM.csv,8997212330099119821
2,8997212330099119822,LPA:1$smdp.io$4K-T4R3M-101NJ6N,Freecell_200807_5K_eSIM.csv,8997212330099119822

In [5]:
cols = ['ICCID','QR_Code','RESELLER_NAME','ACCOUNT_NAME', 'IMSI', 'SUB_STATUS', 'FName']
df_batch = pd.merge(df_qr, df_ocs_imsi, on='ICCID_CD', how='left', suffixes=['_S2', '_S1'])

df_batch = df_batch[cols]
df_batch.head()

,ICCID,QR_Code,RESELLER_NAME,ACCOUNT_NAME,IMSI,SUB_STATUS,FName
0,8997212330099119820,LPA:1$smdp.io$4K-T4R38-P9G6S6,Freecell,Freecell_200807_5K_eSIM,260060145026010,Active,Freecell_200807_5K_eSIM.csv
1,8997212330099119821,LPA:1$smdp.io$4K-T4R3F-DCQ6YC,Freecell,Freecell_200807_5K_eSIM,260060145026011,Active,Freecell_200807_5K_eSIM.csv
2,8997212330099119822,LPA:1$smdp.io$4K-T4R3M-101NJ6N,Freecell,Freecell_200807_5K_eSIM,260060145026012,Active,Freecell_200807_5K_eSIM.csv
3,8997212330099119823,LPA:1$smdp.io$4K-T4R3T-1X2K5XY,Freecell,Freecell_200807_5K_eSIM,260060145026013,Active,Freecell_200807_5K_eSIM.csv
4,8997212330099119824,LPA:1$smdp.io$4K-T4R47-1HTFLL9,Freecell,Freecell_200807_5K_eSIM,260060145026014,Active,Freecell_200807_5K_eSIM.csv

In [6]:
df_batch.loc[df_batch.IMSI==260060145033219]

,ICCID,QR_Code,RESELLER_NAME,ACCOUNT_NAME,IMSI,SUB_STATUS,FName
7209,8997212330099154029,LPA:1$smdp.io$4K-U8EDK-VBEOWC,STI - Telinta,New SIM cards,260060145033219,Active,RB_200804_5K_eSIM.csv