In [1]:
from pygraylog.graylogapi import GraylogAPI
import json
import sys
import numpy as np
import pandas as pd
import datetime

In [63]:
#version = 0.0.1
#18.05.2018

log_level = 0

graylog_con={
        "user":"merger",
        "password":"pc@pM8rger",
        "url":"http://graylog-ui.roamability.com:9000/api",
        "offset":0,
        "limit":300
    }

api = GraylogAPI(
    graylog_con["url"],
    graylog_con["user"], 
    graylog_con["password"])

In [70]:
#Подготовка необходимых функций

def outLog(message, level=1):
    if(level <= log_level):
        print (message)
        sys.stdout.flush()

#Список полей для формирования DF в xDR

fields=['timestamp',
    'm3ua_OPC','m3ua_DPC',
    'sccp_calling_digits','sccp_calling_ssn',
    'sccp_called_digits','sccp_called_ssn',
    'protocol_version','opCode_localValue','TCAP_type',
    'tcap_otid','tcap_dtid',
    'e164_msisdn','e212_imsi']

#Load data from GrayLog

def LoadGraylogResult(exportsearch_results):
        jsonResult = json.loads(exportsearch_results)
        outputResult = list()
        i=0
        if "total_results" in jsonResult:
            outLog("Graylog search found {} messages".format(jsonResult["total_results"]),0)

        # Get the results and store them
            for result in jsonResult["messages"]:  
                if "message" in  result and isinstance(result["message"], dict):
                    outputResult.append(result["message"])
                    i+=1
                    if i%100==0: outLog("loaded {} records from Graylog".format(i),0)
            outLog("Graylog search load {} messages".format(len(outputResult)),0)
        else:
            outLog("Graylog search error: {}".format(exportsearch_results),0)
        return outputResult
    
#Load data into df

def LoadGraylogResultToDataFrame(data):
    columns=list(data[0].keys())
    values = list(data[0].values())
    arr_len = len(values)
    df=pd.DataFrame(np.array(values, dtype=object).reshape(1, arr_len), columns=columns)
    for i in range(len(data)-1):
        columns=list(data[i+1].keys())
        values = list(data[i+1].values())
        arr_len = len(values)
        df1=pd.DataFrame(np.array(values, dtype=object).reshape(1, arr_len), columns=columns)
        df=pd.concat([df, df1],axis=0,join='outer')
    df=df.reset_index(drop=True)
    if 'tcap_otid' in df.columns:
        df['tcap_otid']=df['tcap_otid'].fillna(0)
    if 'tcap_dtid' in df.columns:
        df['tcap_dtid']=df['tcap_dtid'].fillna(0)
    return df

#Compile transactions

def xdr_compile(otid,ind,df_xdr,df):
    
    fields=['tcap_dtid','tcap_otid','TCAP_type']
    if all(item in df.columns for item in fields):
        dtid=111
        df_xdr_temp=df_xdr
        for i in range(ind-1,-1,-1):
            if df.iloc[i]['tcap_dtid']==otid and df.iloc[i]['tcap_otid']==0\
                and (df.iloc[i]['TCAP_type']=='End' or df.iloc[i]['TCAP_type']=='Abort'):
                values = list(df.iloc[i].values)
                arr_len = len(values)
                df_temp=pd.DataFrame(np.array(values, dtype=object).reshape(1, arr_len), columns=columns)
                df_xdr_temp=pd.concat([df_xdr_temp, df_temp],axis=0,join='outer')
                df_xdr_temp['ind']=i
                return df_xdr_temp
            elif df.iloc[i]['tcap_dtid']==otid and df.iloc[i]['TCAP_type']=='Continue' and df.iloc[i]['tcap_otid']<>dtid:
                dtid=df.iloc[i]['tcap_otid']
                values = list(df.iloc[i].values)
                arr_len = len(values)
                df_temp=pd.DataFrame(np.array(values, dtype=object).reshape(1, arr_len), columns=columns)
                df_xdr_temp=pd.concat([df_xdr_temp, df_temp],axis=0,join='outer')
            elif df.iloc[i]['TCAP_type']=='Continue'\
                and (df.iloc[i]['tcap_dtid']==otid or df.iloc[i]['tcap_otid']==otid or df.iloc[i]['tcap_dtid']==dtid or df.iloc[i]['tcap_otid']==dtid):
                values = list(df.iloc[i].values)
                arr_len = len(values)
                df_temp=pd.DataFrame(np.array(values, dtype=object).reshape(1, arr_len), columns=columns)
                df_xdr_temp=pd.concat([df_xdr_temp, df_temp],axis=0,join='outer')
            elif (df.iloc[i]['TCAP_type']=='End' or df.iloc[i]['TCAP_type']=='Abort')\
                and (df.iloc[i]['tcap_dtid']==otid or df.iloc[i]['tcap_otid']==otid or df.iloc[i]['tcap_dtid']==dtid or df.iloc[i]['tcap_otid']==dtid):
                values = list(df.iloc[i].values)
                arr_len = len(values)
                df_temp=pd.DataFrame(np.array(values, dtype=object).reshape(1, arr_len), columns=columns)
                df_xdr_temp=pd.concat([df_xdr_temp, df_temp],axis=0,join='outer')
                df_xdr_temp['ind']=i
                return df_xdr_temp
        df_xdr_temp['ind']=i
        return df_xdr_temp
    else:
        print 'Not all fields are in the DataFrame'

In [71]:
#Формирование запроса и выгрузка данных

#--------------------------------------------------------------------------------
#Form date and time
#--------------------------------------------------------------------------------
#format like 2017-03-06T16:28

#Manually set the date and time
#dateFrom = datetime.datetime.strptime('2018-01-12T05:00', '%Y-%m-%dT%H:%M')
#dateTo = datetime.datetime.strptime('2018-01-12T12:00', '%Y-%m-%dT%H:%M')

#The last period of time
last_hours=6
dateFrom = datetime.datetime.strptime((datetime.datetime.now()-datetime.timedelta(last_hours)).strftime("%Y-%m-%dT%H:%M"),'%Y-%m-%dT%H:%M')
dateTo = datetime.datetime.strptime(datetime.datetime.now().strftime("%Y-%m-%dT%H:%M"), '%Y-%m-%dT%H:%M')

#--------------------------------------------------------------------------------
#Form query
#--------------------------------------------------------------------------------
#Fields examples
#protocol:ss7
#tcap_otid:"a2:2a:0c:40"
#tcap_dtid:"a2:2a:0c:40"
#opCode_localValue:2
#TCAP_type:Begin
#e212_imsi:425019629870706
#tcap_result:1
#tcap_dialogue_service_user:2

#Wrong MTFSM MAP version
#query='protocol:ss7 AND tcap_result:1 AND tcap_dialogue_service_user:2 AND tcap_application_context_name:"0.4.0.0.1.0.25.2" AND (m3ua_OPC:1961 OR m3ua_OPC:1962)'

imsi='425019613000585'

query='protocol:ss7 AND e212_imsi:{} AND opCode_localValue:23 AND TCAP_type:Begin'.format(imsi) 

#--------------------------------------------------------------------------------
#Run the query
#--------------------------------------------------------------------------------

print query + '\n'
gres=api.search.universal.absolute.get(query=query, from_=dateFrom, to=dateTo, offset=graylog_con["offset"], limit=graylog_con["limit"])
data=LoadGraylogResult(gres)

protocol:ss7 AND e212_imsi:425019613000585 AND opCode_localValue:23 AND TCAP_type:Begin

Graylog search found 2 messages
Graylog search load 2 messages

In [72]:
#Формирование нового запроса со списком TID и повторная выгрузка данных

tid_list=[]
str_temp=''

for i in range(len(data)):
    try:
        tid_list.append(data[i]['tcap_otid'])
    except:
        pass
    try:
        tid_list.append(data[i]['tcap_dtid'])
    except:
        pass
tid_list
tid_list=tuple(set(tid_list))

i=1
for a in tid_list:
    str_temp=str_temp + 'tcap_otid:' + '"' + a  + '"' + ' OR tcap_dtid:' + '"' + a  + '"'
    if i<len(tid_list):
        str_temp=str_temp + ' OR '
    i=i+1
query=str('protocol:ss7 AND (' + str_temp + ')')

print 'The Query:\n' + query +'\n'

gres=api.search.universal.absolute.get(query=query, from_=dateFrom, to=dateTo, offset=graylog_con["offset"], limit=graylog_con["limit"])
data=LoadGraylogResult(gres)

try:
    df=LoadGraylogResultToDataFrame(data)
except:
    outLog('Nothing to combine.',0)

The Query:
protocol:ss7 AND (tcap_otid:"35:00:22:bb" OR tcap_dtid:"35:00:22:bb" OR tcap_otid:"25:80:b9:c9" OR tcap_dtid:"25:80:b9:c9")

Graylog search found 16 messages
Graylog search load 16 messages

In [67]:
#Сборка датафрейма XDR, вывод на экран или выгрузка в csv елси нужно
#Ver.1 Выводит все найденные записи (опционально)

fields_for_xdr=['tcap_dtid','tcap_otid','TCAP_type']

if all(item in df.columns for item in fields_for_xdr):
    columns=list(df.keys())
    df_xdr_res=pd.DataFrame(columns=columns)
    for i in range(len(df)-1,-1,-1):
        if df.iloc[i]['TCAP_type']=='Begin':
            values = list(df.iloc[i].values)
            arr_len = len(values)
            df_temp=pd.DataFrame(np.array(values, dtype=object).reshape(1, arr_len), columns=columns)
            df_xdr_res=pd.concat([df_xdr_res,xdr_compile(df.iloc[i]['tcap_otid'],i,df_temp,df)],axis=0,join='outer')
else:
    print 'Not all fields are in the DataFrame'

df_xdr_res=df_xdr_res.reset_index(drop=True)

xdr_fields=[]
for a in fields:
    if a in df.columns:
        #xdr_fields+=a
        xdr_fields.append(a)

df_xdr_res[xdr_fields]
#df_xdr_res[xdr_fields].to_csv('xDR_result.csv',index=False)

,timestamp,m3ua_OPC,m3ua_DPC,sccp_calling_digits,sccp_calling_ssn,sccp_called_digits,sccp_called_ssn,protocol_version,opCode_localValue,TCAP_type,tcap_otid,tcap_dtid,e164_msisdn,e212_imsi
0,2018-05-16T09:51:25.502Z,1961,2506,79052299088,149,972549613000585,6,3,23,Begin,35:00:22:bb,0,79052299088,425019613000585
1,2018-05-16T09:51:25.514Z,2506,1961,97254120624,6,79052299088,149,3,7,Continue,a2:1a:0b:a3,35:00:22:bb,447781518790,NaN
2,2018-05-16T09:51:26.562Z,1962,2506,79052299088,149,97254120624,6,NaN,7,Continue,35:00:22:bb,a2:1a:0b:a3,NaN,NaN
3,2018-05-16T09:51:26.583Z,2506,1961,97254120624,6,79052299088,149,NaN,7,Continue,a2:1a:0b:a3,35:00:22:bb,NaN,NaN
4,2018-05-16T09:51:27.653Z,1961,2506,79052299088,149,97254120624,6,NaN,NaN,Continue,35:00:22:bb,a2:1a:0b:a3,NaN,NaN
5,2018-05-16T09:51:27.660Z,2506,1961,97254120624,6,79052299088,149,NaN,7,Continue,a2:1a:0b:a3,35:00:22:bb,NaN,NaN
6,2018-05-16T09:51:28.763Z,1961,2505,79052299088,149,97254120624,6,3,NaN,Continue,35:00:22:bb,a2:1a:0b:a3,NaN,NaN
7,2018-05-16T09:51:28.784Z,2506,1961,97254120624,6,79052299088,149,NaN,23,End,0,35:00:22:bb,97254120624,NaN
8,2018-05-16T09:53:25.756Z,1962,2505,79052299088,149,972549613000585,6,3,23,Begin,25:80:b9:c9,0,79052299088,425019613000585
9,2018-05-16T09:53:25.769Z,2505,1962,97254120624,6,79052299088,149,3,7,Continue,a1:2a:07:de,25:80:b9:c9,447781518790,NaN
10,2018-05-16T09:53:26.864Z,1961,2505,79052299088,149,97254120624,6,NaN,7,Continue,25:80:b9:c9,a1:2a:07:de,NaN,NaN
11,2018-05-16T09:53:26.900Z,2505,1962,97254120624,6,79052299088,149,NaN,7,Continue,a1:2a:07:de,25:80:b9:c9,NaN,NaN
12,2018-05-16T09:53:27.863Z,1962,2506,79052299088,149,97254120624,6,NaN,NaN,Continue,25:80:b9:c9,a1:2a:07:de,NaN,NaN
13,2018-05-16T09:53:27.901Z,2505,1962,97254120624,6,79052299088,149,NaN,7,Continue,a1:2a:07:de,25:80:b9:c9,NaN,NaN
14,2018-05-16T09:53:28.864Z,1961,2505,79052299088,149,97254120624,6,3,NaN,Continue,25:80:b9:c9,a1:2a:07:de,NaN,NaN
15,2018-05-16T09:53:28.905Z,2505,1962,97254120624,6,79052299088,149,NaN,23,End,0,25:80:b9:c9,97254120624,NaN

In [77]:
#Сборка датафрейма XDR, вывод на экран или выгрузка в csv если нужно
#ver.2 Выводит только записи с заданным IMSI

fields_for_xdr=['tcap_dtid','tcap_otid','TCAP_type']

if all(item in df.columns for item in fields_for_xdr):
    columns=list(df.keys())
    df_xdr_res=pd.DataFrame(columns=columns)
    for i in range(len(df)-1,-1,-1):
        if df.iloc[i]['TCAP_type']=='Begin':
            values = list(df.iloc[i].values)
            arr_len = len(values)
            df_temp=pd.DataFrame(np.array(values, dtype=object).reshape(1, arr_len), columns=columns)
            df_xdr_res=pd.concat([df_xdr_res,xdr_compile(df.iloc[i]['tcap_otid'],i,df_temp,df)],axis=0,join='outer')
else:
    print 'Not all fields are in the DataFrame'

xdr_fields=[]
for a in fields:
    if a in df.columns:
        #xdr_fields+=a
        xdr_fields.append(a)

ind=df_xdr_res.ind[df_xdr_res.e212_imsi==imsi]

df_xdr=pd.DataFrame()

for i in ind:
    df_temp=df_xdr_res[df_xdr_res.ind==i]
    df_xdr=pd.concat([df_xdr,df_temp],axis=0,join='outer')
    
df_xdr=df_xdr.set_index(['ind'])
df_xdr[xdr_fields]

#df_xdr.to_csv('xDR_result.csv')

,timestamp,m3ua_OPC,m3ua_DPC,sccp_calling_digits,sccp_calling_ssn,sccp_called_digits,sccp_called_ssn,protocol_version,opCode_localValue,TCAP_type,tcap_otid,tcap_dtid,e164_msisdn,e212_imsi
ind,,,,,,,,,,,,,,
8.0,2018-05-16T09:51:25.502Z,1961,2506,79052299088,149,972549613000585,6,3,23,Begin,35:00:22:bb,0,79052299088,425019613000585
8.0,2018-05-16T09:51:25.514Z,2506,1961,97254120624,6,79052299088,149,3,7,Continue,a2:1a:0b:a3,35:00:22:bb,447781518790,NaN
8.0,2018-05-16T09:51:26.562Z,1962,2506,79052299088,149,97254120624,6,NaN,7,Continue,35:00:22:bb,a2:1a:0b:a3,NaN,NaN
8.0,2018-05-16T09:51:26.583Z,2506,1961,97254120624,6,79052299088,149,NaN,7,Continue,a2:1a:0b:a3,35:00:22:bb,NaN,NaN
8.0,2018-05-16T09:51:27.653Z,1961,2506,79052299088,149,97254120624,6,NaN,NaN,Continue,35:00:22:bb,a2:1a:0b:a3,NaN,NaN
8.0,2018-05-16T09:51:27.660Z,2506,1961,97254120624,6,79052299088,149,NaN,7,Continue,a2:1a:0b:a3,35:00:22:bb,NaN,NaN
8.0,2018-05-16T09:51:28.763Z,1961,2505,79052299088,149,97254120624,6,3,NaN,Continue,35:00:22:bb,a2:1a:0b:a3,NaN,NaN
8.0,2018-05-16T09:51:28.784Z,2506,1961,97254120624,6,79052299088,149,NaN,23,End,0,35:00:22:bb,97254120624,NaN
0.0,2018-05-16T09:53:25.756Z,1962,2505,79052299088,149,972549613000585,6,3,23,Begin,25:80:b9:c9,0,79052299088,425019613000585
0.0,2018-05-16T09:53:25.769Z,2505,1962,97254120624,6,79052299088,149,3,7,Continue,a1:2a:07:de,25:80:b9:c9,447781518790,NaN
0.0,2018-05-16T09:53:26.864Z,1961,2505,79052299088,149,97254120624,6,NaN,7,Continue,25:80:b9:c9,a1:2a:07:de,NaN,NaN
0.0,2018-05-16T09:53:26.900Z,2505,1962,97254120624,6,79052299088,149,NaN,7,Continue,a1:2a:07:de,25:80:b9:c9,NaN,NaN
0.0,2018-05-16T09:53:27.863Z,1962,2506,79052299088,149,97254120624,6,NaN,NaN,Continue,25:80:b9:c9,a1:2a:07:de,NaN,NaN
0.0,2018-05-16T09:53:27.901Z,2505,1962,97254120624,6,79052299088,149,NaN,7,Continue,a1:2a:07:de,25:80:b9:c9,NaN,NaN
0.0,2018-05-16T09:53:28.864Z,1961,2505,79052299088,149,97254120624,6,3,NaN,Continue,25:80:b9:c9,a1:2a:07:de,NaN,NaN
0.0,2018-05-16T09:53:28.905Z,2505,1962,97254120624,6,79052299088,149,NaN,23,End,0,25:80:b9:c9,97254120624,NaN