### Sponsor / MVNO change for subscribers in DMI

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from tqdm import tqdm
from importlib import reload
from os.path import join
import re

import roamability as rb

In [44]:
#######################################################################################
# Define variables here
#######################################################################################

downloads = r'c:\Users\balob\Documents\GITLAB\RB_BD\DATA'
out_file = 'toc_sponsor.rcjson'
out_file_mvno = 'toc_mvno.rcjson'

mvno_dict = {'Roamability':'Freecell'}
sponsor_dict = {'Partner_All':'Partner_FreeCell', 'MB_ALL': 'MB_FreeCell', 'P4_All': 'P4_FreeCell'}

# mvno_dict = {'Roamability':'TECHMOB'}
# sponsor_dict = {'P4_Combined':'P4_TOTT01', 'Partner_Combined': 'Partner_TOTT01','SMART_Tottol': 'SMART_TOTT01',
#                'MB_Tottolli': 'MB_TOTT01', 'S6_ALL': 'S6_TOTT01', 'S8_Tottolli': 'S8_TOTT01'}

# Ranges
ranges = """
454030227307000-454030227308999,
454030227310000-454030227318999,
260060149910000-260060149934999,
260060149940000-260060149949999,
260060149991909-260060149991921,
260060149997000-260060149997999,
425019613795500-425019613796499,
425019613930000-425019613944999,
425019613945001-425019613954999,
425019613960000-425019613969999,
425019613998901-425019613998913,
454030227310000-454030227318999,
"""

#######################################################################################

#######################################################################################

# toc cspadmin MoRDVruBVEpXXk6kYQ6D services1

In [45]:
# Define Class

class ImsiRange:

    def __init__(self, ranges, mvno_dict, sponsor_dict):
        self.range_list = self.parse_ranges(ranges)
        self.mvno_dict = mvno_dict
        self.sponsor_dict = sponsor_dict
    
    def parse_ranges(self, ranges):
        """Convert ranges to list"""
        pattern_clean = re.compile('([\n\s])')
        ranges = re.sub(pattern_clean, '', ranges)
        pattern_range = re.compile(r'(\d{15})\D+(\d{15})')
        range_list = []
        matches = pattern_range.finditer(ranges)
        for match in matches:
            range_list.append([match.group(1),match.group(2)])
        return range_list
    
    def prepare_range_list_for_sql(self):
        """Convert ranges in the list to string for SQL"""
        str_range_list_for_sql = ''
        for i, ranges in enumerate(imsi_range.range_list):
            str_range_list_for_sql = str_range_list_for_sql + f'(IMSI BETWEEN {ranges[0]} AND {ranges[1]})'
            if i+1 < len(self):
                str_range_list_for_sql = str_range_list_for_sql + ' OR '
        return str_range_list_for_sql
        
    def check_sponsor(self):
        sql_str = """
SELECT
SUBSTR(s.IMSI,1,12) AS IMSI_RANGE,
SUBSTR(si.IMSI_NUMBER,1,12) AS S_IMSI_RANGE,
sp.NAME AS PROFILE_NAME,
COUNT(*) AS NUM
FROM S_IMSI si, SUBSCRIBER s, SPONSOR sp WHERE
si.SUBSCRIBER_REF = s.RI
AND si.SPONSOR_REF = sp.RI
AND si.SUBSCRIBER_REF IN
(
SELECT RI FROM SUBSCRIBER WHERE
{}
)
GROUP BY SUBSTR(s.IMSI,1,12),SUBSTR(si.IMSI_NUMBER,1,12),sp.NAME
ORDER BY SUBSTR(s.IMSI,1,12)""".format(self.prepare_range_list_for_sql())
        with rb.OracleConnect('DMI', 'dd607605ce341', 'DMI') as cnxn:
            df_dmi_sponsor_gr = pd.read_sql_query(sql_str, cnxn, coerce_float=False) 
        display(df_dmi_sponsor_gr)
        return df_dmi_sponsor_gr
        
    def get_data_for_sponsor_change(self):
        sql_str = """
SELECT
si.CLI_MSISDN,s.IMSI,si.PROF_ID,si.IMSI_NUMBER,si.flag_confirmed,sp.NAME
FROM S_IMSI si, SUBSCRIBER s, SPONSOR sp WHERE
si.SUBSCRIBER_REF = s.RI
AND si.SPONSOR_REF = sp.RI
AND
({})
ORDER BY s.IMSI,si.PROF_ID""".format(self.prepare_range_list_for_sql())
        with rb.OracleConnect('DMI', 'dd607605ce341', 'DMI') as cnxn:
            df_dmi_sponsor = pd.read_sql_query(sql_str, cnxn, coerce_float=False)
        return df_dmi_sponsor
    
    def prepare_toc_to_cange_sponsor(self, downloads, out_file):
        df_dmi_imsi = self.get_data_for_sponsor_change()
        display(df_dmi_imsi.groupby('NAME',as_index=False)['IMSI'].count())
        df_dmi_imsi.NAME.replace(to_replace=self.sponsor_dict, inplace=True)
        display(df_dmi_imsi.groupby('NAME',as_index=False)['IMSI'].count())
        display(df_dmi_imsi.tail(3))
        ouf=open(join(downloads, out_file), 'w')
        t1='dmi.s_imsi.modify,CLI_MSISDN="'
        t2='",FLAG_CONFIRMED="0",IMSI_NUMBER="'
        t3='",PROF_ID="'
        t4='",SPONSOR_REF="'
        t5='",SUBSCRIBER_REF="'
        t6='";'
        for i, [cli, imsi, pid, simsi, sponsor] in enumerate(
            df_dmi_imsi[['CLI_MSISDN','IMSI','PROF_ID','IMSI_NUMBER','NAME']].values):
            ouf.write(t1+str(cli)+t2+str(simsi)+t3+str(pid)+t4+str(sponsor)+t5+str(imsi)+t6+'\n')
        ouf.close()
        
    def check_mvno(self):
        sql_str = """
SELECT
m.NAME AS MVNO_NAME,
SUBSTR(IMSI,1,12) AS IMSI_RANGE,
COUNT(*) AS NUM_SUBS,
MIN(IMSI) AS MIN_IMSI,MAX(IMSI) AS MAX_IMSI
FROM SUBSCRIBER s, MVNO m WHERE
m.RI = s.MVNO_REF
AND (
{}
)
GROUP BY m.NAME, SUBSTR(IMSI,1,12)""".format(self.prepare_range_list_for_sql())
        with rb.OracleConnect('DMI', 'dd607605ce341', 'DMI') as cnxn:
            df_dmi_mvno_gr = pd.read_sql_query(sql_str, cnxn, coerce_float=False) 
        display(df_dmi_mvno_gr)
        return df_dmi_mvno_gr
        
    def get_data_for_mvno_change(self):
        sql_str = """
SELECT
s.SIM_APP_VER,
m.NAME AS MVNO,
s.IMSI,
s.MSISDN
FROM SUBSCRIBER s, MVNO m
WHERE
s.MVNO_REF = m.RI
AND
({})""".format(self.prepare_range_list_for_sql())
        with rb.OracleConnect('DMI', 'dd607605ce341', 'DMI') as cnxn:
            df_dmi_mvno = pd.read_sql_query(sql_str, cnxn, coerce_float=False)
        return df_dmi_mvno
    
    def prepare_toc_to_cange_mvno(self, downloads, out_file):
        df_dmi_imsi = self.get_data_for_mvno_change()
        display(df_dmi_imsi.groupby('MVNO',as_index=False)['IMSI'].count())
        df_dmi_imsi.MVNO.replace(to_replace=self.mvno_dict, inplace=True)
        display(df_dmi_imsi.groupby('MVNO',as_index=False)['IMSI'].count())
        display(df_dmi_imsi.tail(3))
        ouf=open(join(downloads, out_file), 'w')
        t1='dmi.subscriber.modify,IMSI="'
        t2='",MVNO_REF="'
        t3='";'
        for i, [imsi, mvno] in enumerate(df_dmi_imsi[['IMSI','MVNO']].values):
            ouf.write(t1+str(imsi)+t2+str(mvno)+t3+'\n')
        ouf.close()
        
    def _imsis(self, df):
        for  imsi in df.IMSI:
            yield imsi

    def make_ranges(self, downloads, file_name, print_panges=False):
        df = pd.read_csv(join(downloads, file_name))
        df.sort_values(by='IMSI', inplace=True)

        imsi_num = df.count().IMSI

        ranges_list = []

        gen = self._imsis(df)
        imsi1 = next(gen)

        while True:
            range_list = [imsi1, imsi1, 1]
            try:
                while True:
                    imsi2 = next(gen)
                    if imsi2 - imsi1 == 1:
                        range_list[1] = imsi2
                        imsi1 = imsi2
                    else:
                        range_list[2] = range_list[1] - range_list[0] + 1
                        ranges_list.append(range_list)
                        imsi1 = imsi2
                        break
            except StopIteration:
                break

        range_list[2] = range_list[1] - range_list[0] + 1
        ranges_list.append(range_list)

        df = DataFrame(ranges_list, columns=['IMSI_START', 'IMSI_END', 'NUM'])

        if imsi_num == df.NUM.sum():
            print(f'OK: {imsi_num} subscribers in {len(df)} ranges')
        else:
            print(f'Wrong IMSI count: {imsi_num} in file, {df.NUM.sum()} in ranges')
            
        if print_panges:
            for range_list in df.values:
                print(f'{range_list[0]}-{range_list[1]},')
        
        return df
    
    def __len__(self):
        return len(self.range_list)
    
    def __str__(self):
        """Print ranges"""
        for i, ranges in enumerate(self.range_list):
            print(f'{i+1:02} : {ranges[0]} - {ranges[1]} -> {1+int(ranges[1])-int(ranges[0])}')
        return ''
    
imsi_range = ImsiRange(ranges, mvno_dict, sponsor_dict)

print(imsi_range)

01 : 454030227307000 - 454030227308999 -> 2000
02 : 454030227310000 - 454030227318999 -> 9000
03 : 260060149910000 - 260060149934999 -> 25000
04 : 260060149940000 - 260060149949999 -> 10000
05 : 260060149991909 - 260060149991921 -> 13
06 : 260060149997000 - 260060149997999 -> 1000
07 : 425019613795500 - 425019613796499 -> 1000
08 : 425019613930000 - 425019613944999 -> 15000
09 : 425019613945001 - 425019613954999 -> 9999
10 : 425019613960000 - 425019613969999 -> 10000
11 : 425019613998901 - 425019613998913 -> 13
12 : 454030227310000 - 454030227318999 -> 9000

In [9]:
# Prepare ranges from file with IMSIs

input_file = 'Soft_SIMs.csv'

# The input file example:

# IMSI
# 260060149999004
# 260060149999007

df_temp = imsi_range.make_ranges(downloads, input_file, print_panges=False)
df_temp.head()
display(df_temp)
for vals in df_temp.values:
    print(f'{vals[0]}-{vals[1]},')

OK: 83025 subscribers in 11 ranges

         IMSI_START         IMSI_END    NUM
0   260060149910000  260060149934999  25000
1   260060149940000  260060149949999  10000
2   260060149991909  260060149991921     13
3   260060149997000  260060149997999   1000
4   425019613795500  425019613796499   1000
5   425019613930000  425019613944999  15000
6   425019613945001  425019613954999   9999
7   425019613960000  425019613969999  10000
8   425019613998901  425019613998913     13
9   454030227307000  454030227308999   2000
10  454030227310000  454030227318999   9000

260060149910000-260060149934999,
260060149940000-260060149949999,
260060149991909-260060149991921,
260060149997000-260060149997999,
425019613795500-425019613796499,
425019613930000-425019613944999,
425019613945001-425019613954999,
425019613960000-425019613969999,
425019613998901-425019613998913,
454030227307000-454030227308999,
454030227310000-454030227318999,

In [46]:
# Check MVNO in DMI

df_mvno_temp = imsi_range.check_mvno()

   MVNO_NAME    IMSI_RANGE  NUM_SUBS         MIN_IMSI         MAX_IMSI
0   Freecell  260060149943      1000  260060149943000  260060149943999
1   Freecell  454030227311      1000  454030227311000  454030227311999
2   Freecell  454030227313      1000  454030227313000  454030227313999
3   Freecell  454030227318      1000  454030227318000  454030227318999
4   Freecell  260060149997      1000  260060149997000  260060149997999
..       ...           ...       ...              ...              ...
83  Freecell  425019613948      1000  425019613948000  425019613948999
84  Freecell  425019613954      1000  425019613954000  425019613954999
85  Freecell  260060149915      1000  260060149915000  260060149915999
86  Freecell  260060149918      1000  260060149918000  260060149918999
87  Freecell  260060149929      1000  260060149929000  260060149929999

[88 rows x 5 columns]

In [39]:
# Prepare TOC commands to change the MVNO in DMI

imsi_range.prepare_toc_to_cange_mvno(downloads, out_file_mvno)

          MVNO  IMSI
0  Roamability  1000

       MVNO  IMSI
0  Freecell  1000

     SIM_APP_VER      MVNO             IMSI         MSISDN
997            7  Freecell  454030227310873  8529750001873
998            7  Freecell  454030227310874  8529750001874
999            7  Freecell  454030227310875  8529750001875

In [49]:
# Check Sponsors in DMI for the given ranges

df_sponsor_temp = imsi_range.check_sponsor()

      IMSI_RANGE  S_IMSI_RANGE PROFILE_NAME   NUM
0   260060149910  260060149910  P4_FreeCell  1000
1   260060149911  260060149911  P4_FreeCell  1000
2   260060149912  260060149912  P4_FreeCell  1000
3   260060149913  260060149913  P4_FreeCell  1000
4   260060149914  260060149914  P4_FreeCell  1000
..           ...           ...          ...   ...
81  454030227314  454030227314  MB_FreeCell  1000
82  454030227315  454030227315  MB_FreeCell  1000
83  454030227316  454030227316  MB_FreeCell  1000
84  454030227317  454030227317  MB_FreeCell  1000
85  454030227318  454030227318  MB_FreeCell  1000

[86 rows x 4 columns]

In [28]:
# Prepare TOC commands to change the Sponsor in DMI

imsi_range.prepare_toc_to_cange_sponsor(downloads, out_file)

          NAME   IMSI
0       MB_ALL  11000
1       P4_All  36013
2  Partner_All  36012

               NAME   IMSI
0       MB_FreeCell  11000
1       P4_FreeCell  36013
2  Partner_FreeCell  36012

,CLI_MSISDN,IMSI,PROF_ID,IMSI_NUMBER,FLAG_CONFIRMED,NAME
83022,8529750012997,454030227318997,1,454030227318997, ,MB_FreeCell
83023,8529750012998,454030227318998,1,454030227318998, ,MB_FreeCell
83024,8529750012999,454030227318999,1,454030227318999, ,MB_FreeCell

### Developments

In [80]:
reseller_name = 'Tottolli-Tech-Mobil'
presision = 12 # Digits in IMSI

sql_srt = """
SELECT RESELLER_NAME,SUBSTRING(IMSI,1,{1}) AS IMSI_RANGE,COUNT(*) AS NUM
,MIN(IMSI) AS MIN_IMSI,MAX(IMSI) AS MAX_IMSI
FROM
(
SELECT
r.RESELLER_NAME
,ss.STATUS AS SUB_STATUS
,si.IMSI
FROM RESELLERS r
INNER JOIN ACCOUNTS a
ON r.RESELLER_ID = a.RESELLER_ID
INNER JOIN SUBSCRIBERS sr
ON sr.ACCOUNT_ID = a.ACCOUNT_ID
INNER JOIN SUBSCRIBER_STATUS ss
ON ss.SUBSCRIBER_ID = sr.SUBSCRIBER_ID
INNER JOIN SUBSCRIBER_IMSIS si
ON ss.SUBSCRIBER_ID = si.SUBSCRIBER_ID
WHERE
r.deleted is NULL
AND ss.END_DATE IS NULL
--AND ss.status = 'Active'
AND r.RESELLER_NAME = '{0}'
) t
GROUP BY RESELLER_NAME,SUBSTRING(IMSI,1,{1})
ORDER BY SUBSTRING(IMSI,1,{1})
""".format(reseller_name, presision)
with rb.MssqlConnect('172.18.11.82', '10028', 'BSS', 'iKQVm40AZAmyRaw72LeY') as cnxn:
    df_ocs_rslr_rng = pd.read_sql_query(sql_srt, cnxn, coerce_float=False)
df_ocs_rslr_rng

          RESELLER_NAME    IMSI_RANGE   NUM         MIN_IMSI         MAX_IMSI
0   Tottolli-Tech-Mobil  234500026400    20  234500026400002  234500026400021
1   Tottolli-Tech-Mobil  234500026425  1000  234500026425000  234500026425999
2   Tottolli-Tech-Mobil  234500026426   550  234500026426000  234500026426549
3   Tottolli-Tech-Mobil  234500026427  1000  234500026427000  234500026427999
4   Tottolli-Tech-Mobil  234500026428  1000  234500026428000  234500026428999
..                  ...           ...   ...              ...              ...
68  Tottolli-Tech-Mobil  515030191003  1000  515030191003000  515030191003999
69  Tottolli-Tech-Mobil  515030191004  1000  515030191004000  515030191004999
70  Tottolli-Tech-Mobil  515030191005  1000  515030191005000  515030191005999
71  Tottolli-Tech-Mobil  515030191006  1000  515030191006000  515030191006999
72  Tottolli-Tech-Mobil  515030191007  1000  515030191007000  515030191007999

[73 rows x 5 columns]

In [81]:
df_ocs_rslr_rng.loc[df_ocs_rslr_rng.IMSI_RANGE.str.startswith('42501')]

          RESELLER_NAME    IMSI_RANGE   NUM         MIN_IMSI         MAX_IMSI
34  Tottolli-Tech-Mobil  425019613791   500  425019613791500  425019613791999
35  Tottolli-Tech-Mobil  425019613792  1000  425019613792000  425019613792999
36  Tottolli-Tech-Mobil  425019613793  1000  425019613793000  425019613793999
37  Tottolli-Tech-Mobil  425019613794  1000  425019613794000  425019613794999
38  Tottolli-Tech-Mobil  425019613795   500  425019613795000  425019613795499
39  Tottolli-Tech-Mobil  425019613797  1000  425019613797000  425019613797999
40  Tottolli-Tech-Mobil  425019613958  1000  425019613958000  425019613958999
41  Tottolli-Tech-Mobil  425019613959  1000  425019613959000  425019613959999
42  Tottolli-Tech-Mobil  425019613972  1000  425019613972000  425019613972999
43  Tottolli-Tech-Mobil  425019613973  1000  425019613973000  425019613973999
44  Tottolli-Tech-Mobil  425019613974  1000  425019613974000  425019613974999
45  Tottolli-Tech-Mobil  425019613975  1000  425019613975000  425019613975999
46  Tottolli-Tech-Mobil  425019613976  1000  425019613976000  425019613976999
47  Tottolli-Tech-Mobil  425019613977  1000  425019613977000  425019613977999
48  Tottolli-Tech-Mobil  425019613978  1000  425019613978000  425019613978999
49  Tottolli-Tech-Mobil  425019613979  1000  425019613979000  425019613979999
50  Tottolli-Tech-Mobil  425019613980  1000  425019613980000  425019613980999
51  Tottolli-Tech-Mobil  425019613998    24  425019613998071  425019613998520
52  Tottolli-Tech-Mobil  425019614000     2  425019614000012  425019614000013
53  Tottolli-Tech-Mobil  425019614001     1  425019614001570  425019614001570
54  Tottolli-Tech-Mobil  425019629932  1000  425019629932000  425019629932999
55  Tottolli-Tech-Mobil  425019629933  1000  425019629933000  425019629933999
56  Tottolli-Tech-Mobil  425019629934  1000  425019629934000  425019629934999
57  Tottolli-Tech-Mobil  425019629935  1000  425019629935000  425019629935999
58  Tottolli-Tech-Mobil  425019629938  1000  425019629938000  425019629938999
59  Tottolli-Tech-Mobil  425019629939  1000  425019629939000  425019629939999

In [83]:
for imsi in df_ocs_rslr_rng.loc[df_ocs_rslr_rng.IMSI_RANGE.str.startswith('42501'), ['MIN_IMSI','MAX_IMSI']].values:
    print(f'{imsi[0]}-{imsi[1]},')

425019613791500-425019613791999,
425019613792000-425019613792999,
425019613793000-425019613793999,
425019613794000-425019613794999,
425019613795000-425019613795499,
425019613797000-425019613797999,
425019613958000-425019613958999,
425019613959000-425019613959999,
425019613972000-425019613972999,
425019613973000-425019613973999,
425019613974000-425019613974999,
425019613975000-425019613975999,
425019613976000-425019613976999,
425019613977000-425019613977999,
425019613978000-425019613978999,
425019613979000-425019613979999,
425019613980000-425019613980999,
425019613998071-425019613998520,
425019614000012-425019614000013,
425019614001570-425019614001570,
425019629932000-425019629932999,
425019629933000-425019629933999,
425019629934000-425019629934999,
425019629935000-425019629935999,
425019629938000-425019629938999,
425019629939000-425019629939999,

In [18]:
df_temp.groupby(df_temp.IMSI_START.astype('str').str.slice(0,5))['NUM'].sum()

IMSI_START
23450    2502
26003    1700
26006    4839
42501    5516
45403    2505
51503    2508
Name: NUM, dtype: int64

In [96]:
imsi_range = '26006'

df_ocs_rslr_rng = df_temp.loc[df_temp.IMSI_START.astype('str').str.startswith(imsi_range)]

for imsi in df_ocs_rslr_rng.loc[:, ['IMSI_START','IMSI_END']].values:
    print(f'{imsi[0]}-{imsi[1]},')

260060140895371-260060140895371,
260060140895401-260060140895402,
260060140895553-260060140895555,
260060140895558-260060140895559,
260060140895561-260060140895562,
260060140895565-260060140895566,
260060140895596-260060140895596,
260060140895598-260060140895601,
260060140895603-260060140895604,
260060140895606-260060140895606,
260060140895707-260060140895707,
260060140895711-260060140895712,
260060140895735-260060140895737,
260060140895739-260060140895739,
260060140895742-260060140895743,
260060140895745-260060140895747,
260060140895749-260060140895750,
260060140895800-260060140895800,
260060140895803-260060140895804,
260060140895806-260060140895813,
260060140895816-260060140895822,
260060140896091-260060140896098,
260060140896100-260060140896104,
260060140896106-260060140896106,
260060140896108-260060140896112,
260060140896114-260060140896114,
260060140896153-260060140896153,
260060140896158-260060140896160,
260060140896162-260060140896162,
260060140896165-260060140896169,
260060140896172-260060140896176,
260060140896178-260060140896180,
260060140896182-260060140896187,
260060140896189-260060140896192,
260060140896194-260060140896194,
260060140896196-260060140896200,
260060140896231-260060140896235,
260060140896237-260060140896244,
260060140896249-260060140896250,
260060140896252-260060140896262,
260060140896264-260060140896266,
260060140896268-260060140896278,
260060140896281-260060140896281,
260060140896283-260060140896284,
260060140896286-260060140896288,
260060140896290-260060140896290,
260060140896353-260060140896353,
260060140896355-260060140896355,
260060140896357-260060140896357,
260060140896363-260060140896363,
260060140896406-260060140896406,
260060140896415-260060140896417,
260060140896419-260060140896426,
260060140896429-260060140896429,
260060140896431-260060140896435,
260060140896437-260060140896438,
260060140896440-260060140896444,
260060140896446-260060140896446,
260060140896448-260060140896448,
260060140896453-260060140896453,
260060140896455-260060140896455,
260060140896457-260060140896457,
260060140896467-260060140896467,
260060140896474-260060140896481,
260060140896483-260060140896483,
260060140896485-260060140896488,
260060140896491-260060140896492,
260060140896494-260060140896494,
260060140896497-260060140896497,
260060140896499-260060140896499,
260060140896503-260060140896503,
260060140896509-260060140896512,
260060140896514-260060140896514,
260060140896520-260060140896520,
260060140896523-260060140896530,
260060140896540-260060140896541,
260060140896543-260060140896543,
260060140896546-260060140896548,
260060140896550-260060140896550,
260060140896558-260060140896559,
260060140896565-260060140896572,
260060140896574-260060140896576,
260060140896578-260060140896582,
260060140896584-260060140896584,
260060140896586-260060140896589,
260060140896591-260060140896592,
260060140896595-260060140896600,
260060140896602-260060140896603,
260060140896607-260060140896608,
260060140896610-260060140896614,
260060140896617-260060140896618,
260060140896622-260060140896623,
260060140896625-260060140896626,
260060140896629-260060140896630,
260060140896635-260060140896635,
260060140896640-260060140896640,
260060140896642-260060140896644,
260060140896649-260060140896655,
260060140896660-260060140896662,
260060140896664-260060140896669,
260060140896674-260060140896690,
260060140896694-260060140896695,
260060140896698-260060140896698,
260060140896703-260060140896703,
260060140896710-260060140896710,
260060140896712-260060140896712,
260060140896719-260060140896722,
260060140896724-260060140896728,
260060140896730-260060140896730,
260060140896741-260060140896741,
260060140896743-260060140896743,
260060140896747-260060140896747,
260060140896750-260060140896750,
260060140896752-260060140896752,
260060140896754-260060140896767,
260060140896769-260060140896774,
260060140896776-260060140896787,
260060140896789-260060140896790,
260060140896796-260060140896800,
260060140896802-260060140896809,
260060140896811-260060140896812,
260060140896815-260060140896815,
260060140896818-260060140896820,
260060140896822-260060140896823,
260060140896838-260060140896841,
260060140896844-260060140896844,
260060140896849-260060140896850,
260060140896852-260060140896854,
260060140896859-260060140896859,
260060140896870-260060140896870,
260060140896874-260060140896874,
260060140896877-260060140896879,
260060140896883-260060140896883,
260060140896888-260060140896891,
260060140896893-260060140896896,
260060140896898-260060140896898,
260060140896901-260060140896901,
260060140896903-260060140896903,
260060140896905-260060140896907,
260060140896909-260060140896909,
260060140896911-260060140896918,
260060140896921-260060140896923,
260060140897199-260060140897199,
260060140897303-260060140897304,
260060140897319-260060140897319,
260060140897326-260060140897326,
260060140897347-260060140897347,
260060140897365-260060140897366,
260060140897371-260060140897385,
260060140897398-260060140897398,
260060140897605-260060140897605,
260060140897620-260060140897620,
260060140897626-260060140897626,
260060140897644-260060140897644,
260060140897665-260060140897665,
260060140897670-260060140897670,
260060140897689-260060140897693,
260060140897723-260060140897732,
260060140897783-260060140897783,
260060140897789-260060140897789,
260060140897791-260060140897791,
260060140897795-260060140897830,
260060140897832-260060140897835,
260060140897837-260060140897837,
260060140897840-260060140897841,
260060140897843-260060140897846,
260060140897857-260060140897858,
260060140897860-260060140897862,
260060140897866-260060140897867,
260060140897871-260060140897871,
260060140897873-260060140897873,
260060140897876-260060140897876,
260060140897878-260060140897878,
260060140897881-260060140897883,
260060140897885-260060140897885,
260060140897900-260060140897900,
260060140897905-260060140897968,
260060140897970-260060140897999,
260060140898009-260060140898009,
260060140898043-260060140898043,
260060140898047-260060140898048,
260060140898054-260060140898055,
260060140898058-260060140898058,
260060140898070-260060140898077,
260060140898080-260060140898084,
260060140898086-260060140898086,
260060140898088-260060140898093,
260060140898095-260060140898095,
260060140898099-260060140898100,
260060140898102-260060140898102,
260060140898104-260060140898105,
260060140898107-260060140898109,
260060140898111-260060140898121,
260060140898123-260060140898123,
260060140898125-260060140898127,
260060140898129-260060140898130,
260060140898133-260060140898135,
260060140898137-260060140898139,
260060140898141-260060140898143,
260060140898150-260060140898159,
260060140898165-260060140898175,
260060140898190-260060140898190,
260060140898194-260060140898194,
260060140898196-260060140898196,
260060140898201-260060140898201,
260060140898203-260060140898203,
260060140898210-260060140898210,
260060140898215-260060140898215,
260060140898217-260060140898219,
260060140898221-260060140898227,
260060140898230-260060140898230,
260060140898232-260060140898233,
260060140898235-260060140898235,
260060140898237-260060140898237,
260060140898239-260060140898243,
260060140898250-260060140898250,
260060140898252-260060140898252,
260060140898254-260060140898254,
260060140898257-260060140898259,
260060140898264-260060140898264,
260060140898267-260060140898269,
260060140898272-260060140898273,
260060140898285-260060140898290,
260060140898293-260060140898309,
260060140898313-260060140898313,
260060140898315-260060140898315,
260060140898329-260060140898329,
260060140898331-260060140898332,
260060140898340-260060140898341,
260060140898345-260060140898346,
260060140898431-260060140898432,
260060140898435-260060140898435,
260060140898437-260060140898437,
260060140898442-260060140898442,
260060140898444-260060140898444,
260060140898446-260060140898447,
260060140898449-260060140898451,
260060140898454-260060140898454,
260060140898458-260060140898459,
260060140898461-260060140898462,
260060140898464-260060140898465,
260060140898467-260060140898467,
260060140898469-260060140898469,
260060140898472-260060140898473,
260060140898475-260060140898475,
260060140898477-260060140898477,
260060140898479-260060140898480,
260060140898482-260060140898482,
260060140898484-260060140898484,
260060140898487-260060140898495,
260060140898499-260060140898503,
260060140898505-260060140898505,
260060140898508-260060140898508,
260060140898510-260060140898510,
260060140898512-260060140898515,
260060140898517-260060140898518,
260060140898520-260060140898521,
260060140898523-260060140898524,
260060140898526-260060140898526,
260060140898528-260060140898530,
260060140898532-260060140898532,
260060140898534-260060140898534,
260060140898536-260060140898538,
260060140898540-260060140898540,
260060140898542-260060140898543,
260060140898545-260060140898545,
260060140898549-260060140898549,
260060140898552-260060140898552,
260060140898554-260060140898554,
260060140898556-260060140898556,
260060140898558-260060140898558,
260060140898560-260060140898563,
260060140898565-260060140898565,
260060140898568-260060140898568,
260060140898571-260060140898572,
260060140898574-260060140898575,
260060140898577-260060140898578,
260060140898580-260060140898580,
260060140898582-260060140898583,
260060140898586-260060140898586,
260060140898588-260060140898588,
260060140898590-260060140898592,
260060140898596-260060140898596,
260060140898598-260060140898598,
260060140898600-260060140898603,
260060140898606-260060140898607,
260060140898609-260060140898609,
260060140898613-260060140898619,
260060140898622-260060140898625,
260060140898628-260060140898629,
260060140898632-260060140898633,
260060140898638-260060140898641,
260060140898643-260060140898644,
260060140898646-260060140898646,
260060140898648-260060140898650,
260060140898653-260060140898653,
260060140898655-260060140898655,
260060140898657-260060140898657,
260060140898659-260060140898660,
260060140898662-260060140898662,
260060140898665-260060140898665,
260060140898668-260060140898669,
260060140898673-260060140898674,
260060140898677-260060140898679,
260060140898682-260060140898683,
260060140898687-260060140898688,
260060140898690-260060140898690,
260060140898696-260060140898696,
260060140898758-260060140898758,
260060140898764-260060140898765,
260060140898767-260060140898768,
260060140898770-260060140898772,
260060140898775-260060140898775,
260060140898799-260060140898799,
260060140898804-260060140898804,
260060140898806-260060140898806,
260060140898808-260060140898808,
260060140898812-260060140898812,
260060140898814-260060140898815,
260060140898818-260060140898819,
260060140898874-260060140898874,
260060140898882-260060140898882,
260060140898891-260060140898891,
260060140898893-260060140898894,
260060140898898-260060140898902,
260060140898905-260060140898905,
260060140898907-260060140898910,
260060140898914-260060140898914,
260060140898917-260060140898917,
260060140898923-260060140898925,
260060140898927-260060140898928,
260060140899760-260060140899763,
260060140899769-260060140899770,
260060140899777-260060140899780,
260060140899782-260060140899782,
260060140899784-260060140899786,
260060140899789-260060140899791,
260060140899793-260060140899801,
260060140899804-260060140899805,
260060140899809-260060140899809,
260060140899811-260060140899811,
260060140899813-260060140899814,
260060140899818-260060140899818,
260060140899821-260060140899823,
260060140899825-260060140899825,
260060140899827-260060140899844,
260060140899846-260060140899847,
260060140899849-260060140899856,
260060140899858-260060140899858,
260060140899862-260060140899872,
260060140899874-260060140899878,
260060140899880-260060140899881,
260060140899888-260060140899890,
260060140899892-260060140899893,
260060140899896-260060140899897,
260060140899899-260060140899900,
260060140899902-260060140899904,
260060140899906-260060140899912,
260060140899914-260060140899922,
260060140899924-260060140899930,
260060140899932-260060140899933,
260060140899935-260060140899936,
260060140899938-260060140899938,
260060140899942-260060140899944,
260060140899946-260060140899948,
260060140899950-260060140899950,
260060140899952-260060140899956,
260060140899967-260060140899967,
260060149938000-260060149938010,
260060149939765-260060149939841,
260060149939843-260060149939999,
260060149953500-260060149953767,
260060149953946-260060149953946,
260060149953950-260060149953951,
260060149953954-260060149953956,
260060149953986-260060149953986,
260060149954531-260060149954930,
260060149954941-260060149955040,
260060149955510-260060149956009,
260060149956011-260060149956150,
260060149956152-260060149956499,
260060149957000-260060149957265,
260060149993379-260060149993379,
260060149993387-260060149993387,
260060149993392-260060149993392,
260060149993447-260060149993447,
260060149993459-260060149993459,
260060149993462-260060149993462,
260060149993774-260060149993836,
260060149993845-260060149994081,
260060149994752-260060149995001,
260060149995003-260060149995238,
260060149995240-260060149995252,
260060149996507-260060149996514,
260060149996618-260060149996618,
260060149996705-260060149996705,
260060149996768-260060149996999,
260060149998000-260060149998251,
260060149998253-260060149998303,
260060149998308-260060149998308,
260060149998316-260060149998316,
260060149998319-260060149998320,
260060149998322-260060149998322,
260060149998326-260060149998326,
260060149998336-260060149998337,
260060149998341-260060149998342,
260060149998344-260060149998346,
260060149998378-260060149998382,
260060149998387-260060149998387,
260060149998452-260060149998455,
260060149998478-260060149998479,
260060149998593-260060149998594,
260060149998596-260060149998601,
260060149998673-260060149998676,
260060149998678-260060149998681,
260060149998697-260060149998697,
260060149998699-260060149998699,
260060149998705-260060149998706,
260060149998718-260060149998718,
260060149998720-260060149998720,
260060149998726-260060149998726,
260060149998730-260060149998730,
260060149998747-260060149998747,
260060149998750-260060149998750,
260060149998756-260060149998758,
260060149998760-260060149998766,
260060149998776-260060149998778,
260060149998783-260060149998783,
260060149998787-260060149998787,
260060149998791-260060149998791,
260060149998801-260060149998813,
260060149998831-260060149998831,
260060149998833-260060149998833,
260060149998836-260060149998837,
260060149998845-260060149998845,
260060149998861-260060149998870,
260060149998872-260060149998873,
260060149998876-260060149998876,
260060149998882-260060149998882,